<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- Bootstrap CSS and Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Langar&family=Handlee&family=Rye&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <title>Hanford Lam | Piano</title>
    
  </head>
  <body>
    <div class="container-fluid"> 
    <div id="container" class="container" style="">

<!-- WELCOME -->
<h1 class="mt-5 display-3 bellota text-center">Hanford's Blackboard</h1>
<div style="height: 900px;"></div>

<script>

window.onscroll = function() {
  if(window.innerHeight + window.pageYOffset >= document.body.offsetHeight){
    var newDiv = document.createElement("div")
    newDiv.style.height = "900px"
    var newH1 = document.createElement("h1")
    newDiv.appendChild(newH1)
    document.body.appendChild(newDiv)
  }
}
console.log(window.onscroll)
</script>

</div><!-- close out MAIN div -->
</div> <!-- close out page container div -->
<!-- jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script>$(function () {$('[data-toggle="tooltip"]').tooltip()})</script>
<script src="../../main-bundled.js"></script>
</body>
</html>