<%- include('includes/header') %>
<h1>blog home CONTENT GOES HERE</h1>

<div id="home-container-1" class="p-2 mx-0 my-4 rounded border row align-items-center justify-content-center">
    <div class="mb-3 text-center">
        <h1 class="display-2">Hanford Lam | Piano</h1>
        <p class="white-text">It's good to see you!</p>
        <p class="white-text mb-4">Do you need a piano teacher of accompanist?</p>
        <button class="btn btn-outline-info">Read on</button>
    </div>
</div>
<div class="p-2 mx-0 my-4 rounded border full-width-home-container-white row align-items-center justify-content-end">
    <div class="mr-5">
        <h2>Welcome!</h2>
        <hr>
        <p class="white-text">I look forward to sharing with you all that I know about music and lifelong learning. The emotions, the discipline, and the beauty of this imaginative sonic art.</p>
        <hr>
        <button class="btn btn-outline-info">Continue</button>
    </div>
</div>
<div class="p-2 mx-0 my-4 rounded border full-width-home-container-indigo row align-items-center justify-content-end">
    <div class="mr-5">
        <h3>Learn more about why I teach</h3>
        <h1>Hanford's education and experience</h1>
        <p class="white-text">I am delighted to speak to you candidly. My own diverse journey has given me valuable opportunities to learn at local and international competitions; from friendly fun at the Knox Piano Awards to competing against top players at the UCSI International Semifinals. I've also done my share of exams; from AMEB and ABRSM grades to a gruelling Honours recital and thesis. Lifelong learning is a passion. I am going back to university for deeper study from 2021 to 2023. I hope to inspire my students to chase knowledge and skills in the realms of the arts and the sciences.</p>
        <p class="white-text">My fondest memories of orchestral performances include touring China with the Australian International Opera Company and soloing with the Monash Academy Orchestra while my worst is definitely memory lapsing at an audition. Working through challenges and doubt makes the prizes and scholarships I've won so much more meaningful. Performance anxiety is a hot topic that I have presented on during the 2019 and 2020 VCE Conferences.</p>
        <p class="white-text">Travel, language, math, and great food are all interests of mine. You may be surprised to learn how music is deeply connected to everything around you. My studio is a safe space for all learners to develop an open mind and experience growth. I may be a piano teacher by trade but more generally, I am an educator.</p>
        <p class="white-text">We now live in a world where the best gift you can give someone is the skill of how to learn.</p>
        <button class="btn btn-outline-info">2021 Fees</button>
    </div>
</div>
<div class="p-2 mx-0 my-4 rounded border full-width-home-container-green row align-items-center justify-content-end">
    <div class="mr-5">
        <h1>2021 Fees</h1>
        <h3>Your money supports both your child's learning and Hanford's.</h3>
        
        <button class="btn btn-outline-info">Book a free trial</button>
    </div>
</div>
<div class="p-2 mx-0 my-4 rounded border full-width-home-container row align-items-center justify-content-end">
    <div class="mr-5">
        <h1>Practise. Persevere. Perform.</h1>
        <p class="white-text">Always be kind to yourself but don't forget to aim high. Make a start today!</p>
        <button class="btn btn-outline-info">Explore</button>
    </div>
</div>
    

<%- include('includes/footer') %>