<!-- Create Weekly Quiz -->
<div class="jumbotron">
    <h1 class="text-center display-4">Create a quiz below.</h1>
  </div>
  <!-- Q1 -->
  <form action="/create-quiz" method="POST">
    <h2>Question 1:</h2>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text">Question</span>
      </div>
      <input name="q1" type="text" class="form-control" placeholder="Question 1" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q1a" value="1" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q1o1" class="form-control" placeholder="Option 1" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q1a" value="2" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q1o2" class="form-control" placeholder="Option 2" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q1a" value="3" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q1o3" class="form-control" placeholder="Option 3" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q1a" value="4" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q1o4" class="form-control" placeholder="Option 4" autocomplete="off">
    </div>
    <hr>
    <!-- Q2 -->
    <h2>Question 2:</h2>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text">Question</span>
      </div>
      <input name="q2" type="text" class="form-control" placeholder="Question 2" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q2a" value="1" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q2o1" class="form-control" placeholder="Option 1" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q2a" value="2" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q2o2" class="form-control" placeholder="Option 2" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q2a" value="3" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q2o3" class="form-control" placeholder="Option 3" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q2a" value="4" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q2o4" class="form-control" placeholder="Option 4" autocomplete="off">
    </div>
    <hr>
    <!-- Q3 -->
    <h2>Question 3:</h2>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text">Question</span>
      </div>
      <input name="q3" type="text" class="form-control" placeholder="Question 3" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q3a" value="1" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q3o1" class="form-control" placeholder="Option 1" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q3a" value="2" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q3o2" class="form-control" placeholder="Option 2" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q3a" value="3" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q3o3" class="form-control" placeholder="Option 3" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q3a" value="4" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q3o4" class="form-control" placeholder="Option 4" autocomplete="off">
    </div>
    <hr>
    <!-- Q4 -->
    <h2>Question 4:</h2>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text">Question</span>
      </div>
      <input name="q4" type="text" class="form-control" placeholder="Question 4" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q4a" value="1" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q4o1" class="form-control" placeholder="Option 1" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q4a" value="2" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q4o2" class="form-control" placeholder="Option 2" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q4a" value="3" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q4o3" class="form-control" placeholder="Option 3" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q4a" value="4" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q4o4" class="form-control" placeholder="Option 4" autocomplete="off">
    </div>
    <hr>
    <!-- Q5 -->
    <h2>Question 5:</h2>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <span class="input-group-text">Question</span>
      </div>
      <input name="q5" type="text" class="form-control" placeholder="Question 5" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q5a" value="1" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q5o1" class="form-control" placeholder="Option 1" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q5a" value="2" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q5o2" class="form-control" placeholder="Option 2" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q5a" value="3" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q5o3" class="form-control" placeholder="Option 3" autocomplete="off">
    </div>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" name="q5a" value="4" autocomplete="off">
        </div>
      </div>
      <input type="text" name="q5o4" class="form-control" placeholder="Option 4" autocomplete="off">
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <!-- Submit Button-->
    <button class="btn btn-success btn-block" type="submit">Create Quiz</button>
  </form>