<html>
  <head>
    <!-- This is to link our css with our html -->
	<!-- make sure your filename is the same as what you saved -->
    <link rel="stylesheet" href="style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  </head>
  <body>
    <ol class="coolFont">
	  <li>Hello</li>
	  <li>This</li>
	  <li>Is</li>
	  <li>Google</li>
	  <li>Fonts!</li>
	</ol>
	<ul class="coolFont" id="unorderedList">
	  <li>Hello</li>
	  <li>This</li>
	  <li>Is</li>
	  <li>Google</li>
	  <li>Fonts!</li>
	</ul>
	
	
	<h1 class="coolFont">This uses a class</h1>
  </body>
</html>
