<!doctype html>
<html lang="en" id="home-html">
  <head>
    <!-- HTML Meta Tags -->
<title>Hanford Lam | Piano Studio</title>
<meta name="description" content="Learn piano by yourself at home with online courses!">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.hanfordlam.com/shop">
<meta property="og:type" content="website">
<meta property="og:title" content="Hanford Lam | Piano Studio">
<meta property="og:description" content="Learn piano by yourself at home with online courses!">
<meta property="og:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="hanfordlam.com">
<meta property="twitter:url" content="https://www.hanfordlam.com/shop">
<meta name="twitter:title" content="Hanford Lam | Piano Studio">
<meta name="twitter:description" content="Learn piano by yourself at home with online courses!">
<meta name="twitter:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Handlee&family=Rye&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <title>Hanford Lam | Piano Studio</title>
    <!-- CURSOR -->
    <style>HTML,BODY{cursor: url("../../images/cursor.cur"), auto;}</style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S7KLNXVSDD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-S7KLNXVSDD');
    </script>
  </head>
  <body class="background-transparent w-100">
    <!-- NAVBAR -->
    <nav id="myNav" class="rounded recursive row align-items-center text-center w-auto py-2">
      <div class="col-lg-7">
        <a id="navIcon" class="my-2 d-block" href='/'>Hanford Lam | Piano Studio</a>
      </div>
      <div class="col-lg-5">
        <a id="homeTab" class="mx-4 my-2 d-inline-block navLink" href="/">HOME</a>
        <button class="mx-4 my-2 d-inline-block btn btn-sm btn-info" onclick="location.href='/#contact'">CONTACT</button>
        <a id="reportsTab" class="mx-4 my-2 d-inline-block navLink" href="/reports">PORTAL</a>
      </div>
    </nav>
    <div class="container-fluid background-transparent">

      <!-- DYNAMIC NAVBAR AND TITLE -->
      <script>
        let currentPath = window.location.pathname
        if (currentPath == '/') {
          document.getElementById("homeTab").classList.add("orange-text")
          document.title = "Hanford Lam"
        } else if (currentPath == '/practice' || currentPath == '/missions' || currentPath == '/leaderboard' || currentPath == '/parents' || currentPath == '/reports') {
          document.getElementById("reportsTab").classList.add("orange-text")
          document.title = "Portal - Hanford Lam"
        }
      </script>
    <div id="container" class="container">

<!--removed recaptcha v3 23 nov 2021-->

<!-- WELCOME -->
<div id="biographyContainer" class="">
  
<!--PORTAL TUTORIALS-->
<div id="shop-blurb" class="text-center home-display p-5 m-5">
  <h1 class="black-text mb-5">Daytime Piano Lessons</h1>
  <h2 class="orange-text" style="">Enrol in a 10-session group piano learning course, designed to teach you a new skill that can be enjoyed as self-development and shared with your loved ones.<hr><span class="dark-orange-text" style="font-size: medium;">In-Studio (Boronia) sessions on weekdays from 9.45am to 10.30am.</span></h2>  
  <h2 class="mt-5" style="color:blue" >OVERVIEW</h2>
  <p class="p-0 m-0">This friendly 10-session course gets you started on the AMEB P-Plate syllabus (complete beginners) which contains a selection of delightful short pieces of music that teach you how to read music, feel rhythms, and develop arm and finger control. Keep learning with subsequent courses and aim to finish the whole P-Plate syllabus!</p>
  

<h2 class="mt-5 mb-4 pink-text">YOU GET</h2>
<p class="p-0 mx-0 my-2"><strong>Ten 45-minute In-Studio Piano Classes</strong><br>Friendly and dedicated teaching to get you exercising your brain and body.</p>
<p class="p-0 mx-0 my-2"><strong>Online Portal Recordings and Personalised Weekly Feedback</strong><br>Expert guidance to help you improve and excel.</p>
<p class="p-0 mx-0 my-2"><strong>AMEB P-Plate Lesson Book One</strong><br>The P-Plate Series contains three interesting and engaging books.</p>
<p class="p-0 mx-0 my-2"><strong>Time with High Quality Instruments</strong><br>Experience playing on gorgeous Boston and Yamaha grand pianos.</p>

<h2 class="mt-5 mb-4" style="color:blue">ENROLMENT COST</h2>
<p  class="p-0 m-0 red-text" style="font-size: 4rem;"><strong>$300</strong></p>



<div class="pb-0 pt-5">
<h1 class="mb-5">Join the waitlist now by mentioning your name and preferred weekday!</h1>
</div>

<div class="my-5 py-3">
  <a class="d-block btn-large btn-danger p-5 mt-5 rounded recursive" style="font-size: 2rem; text-decoration: none;" href="mailto:hanfordlam2012@hotmail.com">Register your interest</a>
</div>

<p style="font-size: 1.5rem;" class="mt-1 black-text handlee">Upon enrolment, you consent to the agreements found in the <a target="_blank" href="../files/handbook.pdf">Handbook</a>.</p>
  
</div>

<script>
  
  // rainbow headings
    window.addEventListener("load", function() {
    let elements = document.getElementsByClassName("rainbowText");
    for (let i = 0; i < elements.length; i++) {
      generateRainbowText(elements[i]);
    }
  })
  
  function generateRainbowText(element) {
    let text = element.innerText;
    element.innerHTML = "";
    for (let i = 0; i < text.length; i++) {
      let charElem = document.createElement("span");
      charElem.style.color = "hsl(" + (360 * i / text.length) + ",100%,50%)";
      charElem.style.fontWeight = "bold";
      charElem.style.textShadow = "0px 4px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), -4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 0px -4px 5px hsl(" + (360 * i / text.length) + ",80%,20%)";
      charElem.innerHTML = text[i];
      element.appendChild(charElem);
    }
  }
  </script>
</div>
    <!-- Footer -->
    <footer class="footer text-center small white-text py-3">
        <p class="m-0 raleway">Thanks for visiting! Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href='/' class="white-text raleway">hanfordlam.com</a>. All rights reserved.</p>
    </footer>
  </div> <!-- close out page container div -->
  <!-- BOOTSTRAP 5 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- TOOLTIPS -->
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
    <script src="../../main-bundled.js"></script>
  </body>
</html>