<%- include('includes/header') %>
<!-- WELCOME -->
<div id="welcome" class="my-3 section">
  <div class="py-4 mt-2 mb-0 mx-0"><h1 id="headingText" class="px-5 display-2 recursive rainbowText text-center">Looking for a teacher?</h1>
    <h2 class="white-text text-center handlee py-2 mt-0 mx-3">Come along on a music-learning journey with Hanford<img class="mb-3 mx-3" src="../images/smile.png"></h2></div>
</div>
<div id="home-container-1" class="p-2 mx-0 my-5 rounded row align-items-center justify-content-center"></div>

<!-- MEET HANFORD -->
<div id="meet-hanford" class="section">
  <div class="py-4 my-4 mb-4 mx-0"><h1 class="px-5 display-2 recursive rainbowText text-center">Hi, I'm Hanford</h1>
    <h2 class="white-text text-center handlee py-2 mt-3 px-5">I look forward to sharing with you all that I know about music and lifelong learning.<br>
      The emotions, discipline, and beauty of this imaginative sonic art.</h2></div>
</div>
<div class="p-4 row justify-content-center">
  <div class="col"><img class="rounded" src="../images/hanford-lam-portrait_d800-min.jpg" id="landscapeHeadshot" alt=""></div>
  <div class="w-100"></div>
  <div id="blurb" class="col-9 text-center">
    <p class="handlee white-text mt-5">I am delighted to speak to <span class="yellow-text">you</span> candidly. My own <span class="blue-text">diverse</span> journey has given me valuable <span class="purple-text">opportunities</span> to <span class="green-text">learn</span> at local and international <span class="pink-text">competitions</span>; from friendly fun at the Knox Piano Awards to competing against top players at the UCSI International Semifinals. I've also done my share of <span class="orange-text">exams</span>; from AMEB and ABRSM grades to a gruelling Honours recital and thesis. Lifelong learning is a <span class="yellow-text">passion</span>. I am currently completing a <span class="blue-text">Master of Teaching</span> at The University of Melbourne. I hope to inspire my students to chase <span class="purple-text">knowledge</span> and <span class="green-text">skills</span> in the realms of the <span class="pink-text">arts</span> and the <span class="orange-text">sciences</span>.</p>
    <p class="handlee white-text">My fondest memories of <span class="yellow-text">performing</span> include touring China with the Australian International Opera Company and soloing with the Monash Academy Orchestra while my worst is <span class="blue-text">definitely</span> attempting an audition underprepared. Working through <span class="purple-text">challenges</span> and <span class="green-text">doubt</span> makes the prizes and scholarships I've won so much more <span class="pink-text">meaningful</span>. Performance anxiety is a hot topic that I have <span class="orange-text">presented</span> on during the 2019 and 2020 VCE Conferences.</p>
    <p class="handlee white-text">Travel, language, math, and <span class="yellow-text">great food</span> are all interests of mine. You may be surprised to learn how music is deeply <span class="blue-text">connected</span> to everything around you. My studio is a <span class="purple-text">safe space</span> for all learners to develop an <span class="green-text">open mind</span> and experience <span class="pink-text">growth</span>. I may be a piano teacher by trade but more generally, I am an <span class="orange-text">educator</span>.</p>
    <p class="handlee white-text">We now live in a<span class="yellow-text"> world</span> where the <span class="blue-text">best gift</span> you can give someone is the skill of <span class="green-text">how to learn</span>.</p>
  </div>
</div>

<!-- FEES -->
<div id="fees" class="section mt-3 mb-5">
  <div class="py-4 mt-3 mb-0"><h1 class="px-5 display-2 recursive rainbowText text-center">2022 Services</h1>
    <h2 class="white-text text-center handlee pb-2 pt-0 mt-4">Helping you learn and build skills</h2></div>
</div>
<div id="priceRow" class="row mt-4 mb-5">
  
  <div class="col-4">
      <div class="card">
    <div class="card-header">
      <h4 class="my-0">ACCOMPANIMENT</h4>
    </div>
    <div class="card-body">
      <h1 class="pink-text card-title">Enquire</h1>
      <ul class="list-unstyled">
        <li>Exams & Performances</li>
        <li>Auditions & General Rehearsals</li>
        <li>8+ years experience</li>
        <li>All Levels & Instruments</li>
      </ul>
    </div>
  </div>
  </div>
  <div class="col-4">
      <div class="card">
          <div class="card-header">
            <h4 class="my-0">PRIVATE LESSONS</h4>
          </div>
          <div class="card-body">
            <h1 class="pink-text card-title">$90/h</h1>
            <ul class="list-unstyled">
              <li>Expert Guidance</li>
              <li>Interactive Approach</li>
              <li>Student Recitals</li>
              <li>Concert Excursions</li>
            </ul>
          </div>
      </div>
  </div>
  <div class="col-4">
      <div class="card">
          <div class="card-header">
            <h4 class="my-0">GROUP LESSONS</h4>
          </div>
          <div class="card-body">
            <h1 class="pink-text card-title">$100/h</h1>
            <ul class="list-unstyled">
              <li>Siblings & Friends</li>
              <li>Collaborative Learning</li>
              <li>Holistic Progression</li>
              <li>Theory + Technique</li>
            </ul>
          </div>
        </div>
  </div>
</div>
<a href="/contact" class="btn btn-block btn-lg btn-warning my-5"><strong>Ask to make a start today</strong></a>

<%- include('includes/footer') %>