<%- include('includes/header') %>
<!--recaptcha v3 only client side for now-->
<script src="https://www.google.com/recaptcha/api.js?render=6LdmwyccAAAAAAeyi3pmB9GFe7CqpJgEuqutQqVL"></script>



<!-- WELCOME -->
<div id="biographyContainer" class="">
  <h1 id="hello" class="px-5 display-2 bellota rainbowText my-5 text-center">Hello, I'm Hanford!</h1>
  <div class="w-100 text-center"><button data-lang="en" id="languageToggleButton" onclick="languageToggle()" class="btn btn-lg btn-secondary text-center mt-3">EN/<span class='zcool' style="font-size: 1.2rem;">中文</span></button>  </div>
  <!--BIO-->
  <div class="row" id="bioRow">
    <div class="col-xl-8 px-5 my-auto">
      <img id="photo1" alt="picture of Hanford the experienced and professional piano teacher" class="" src="../images/hanford-piano-teacher.webp">
    </div>
    <div class="col-xl-4 my-auto">
      <h2 id="bioh1" class="bioTitle green-text mt-3">Bio</h2>
      <p id="biop" class="mt-3 recursive white-text">I am in interested in how science, discipline, and art come together in piano playing. Since beginning my studies in Singapore, I have amassed over two decades of practice and thought about this skill. Music is fun because of the places it can take you. From deep within our own minds, to where great experiences are created, both locally and internationally. To me, music represents an essential part of the human experience.</p>
    </div>
  </div>
  <!--FEATUREVIDEO
  <div class="row" id="featureVideoRow">
    <div class="col"><img id="youtubeShowcase" class="w-100" src="../images/photo1.jpg"></div>
  </div>-->
  <!--EXPERIENCE-->
  <div class="row" id="experienceRow">
    <div class="col-xl-5 my-auto">
      <h2 id="experienceh1" class="bioTitle blue-text">Experience</h2>
      <p id="experiencep" class="mt-3 recursive white-text">Currently, I am completing a Master of Teaching at the University of Melbourne. Additionally, I hold a First Class Honours in Music from the Sir Zelman Cowen School of Music, Monash University. My accolades include awards from local Eisteddfods, multiple university prizes, academic and musical scholarships, as well as being semifinalist at the UCSI International Piano Competition. I've delivered performances at venues including the Melbourne Town Hall, Melbourne Recital Centre, Hamer Hall, Duneira Estate, live on 3MBS, 16 major theatres on tour with the Australian International Opera Company, Robert Blackwood Hall as organ soloist with the Monash Academy Orchestra, and numerous community events. My presentations at the 2019 and 2020 VCE Music conferences have been successfully turned into student workshops across Melbourne.</p>
    </div>
    <div class="col-xl-7 px-5 my-auto">
      <img class="" id="hanford-lam-studio-min" alt="picture of Hanford the piano teacher's music learning studio " src="../images/professional-teaching-studio.webp">
    </div>
  </div>
  <!--PEDAGOGY-->
  <div class="row" id="pedagogyRow">
    <div class="col-lg-4 px-5 my-auto">
      <img id="photo2" class="" alt="picture of Hanford the fun and engaging piano teacher" src="../images/hanford-music-teacher.webp">
    </div>
    <div class="col-lg-8 my-auto">
      <h2 id="pedagogyh1" class="bioTitle green-text mt-3">Pedagogy</h2>
      <p id="pedagogyp" class="mt-3 recursive white-text">With almost ten years’ of teaching experience, I strive to discover and match my students’ natural learning styles, appreciating the strengths and remedying the weaknesses of each unique individual. It is through positive interaction and honest dialogue that I endeavour to engage my students in learning. As a believer in multidisciplinary education, I also regularly design broader educational programs for my students. I teach students to understand piano playing as an amalgamation of three components. The science of reality, discipline of the mind and body, and artistry of humanity.</p>
      <iframe style="max-height:166px;" class="my-5" width="100%" height="166px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/330611534&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false"></iframe>
    </div>
  </div>  
  <!-- FEES -->
  <div id="ratesRow" class="row pt-5">
    <div class="col-lg-4 my-auto">
      <div id="rateCard" class="text-center mx-auto">
        <div class="recursive">
          <h2 id="ratesh1" class="bioTitle blue-text mb-3">2022 Services</h2>
        </div>
        <ul class="list-unstyled">
          <li id="ratesli1" class="bellota orange-text">Private Lessons</li>
          <li id="ratesli2" class="grey-text bellota">$100/40min, 1-3 times a week</li>
          <li id="ratesli3" class="bellota orange-text">Accompaniment</li>
          <li id="ratesli4" class="grey-text bellota">Please enquire</li>
          <li id="ratesli5" class="bellota orange-text">VCE workshops</li>
          <li id="ratesli6" class="grey-text bellota">Please enquire</li>
          <li id="ratesli7" class="small mt-5 mb-2"><mark class="px-4">Studio in Boronia, Melbourne</mark></li>
          <li id="ratesli8" class="grey-text bellota">Facebook page <a target="_blank" href="https://www.facebook.com/hanfordlampiano">here</a></li>
        </ul>
      </div>
    </div>
      <div id="contactForm" class="col-lg-8 my-auto px-auto">
        <% if (status == 'fail') { %>
          <div id="contacterror" class="alert alert-danger text-center small py-2">Sorry, your message couldn't be sent...maybe try my Facebook Page instead?</div>
        <% } else if (status == 'success') { %>
          <div id="contactsuccess" class="alert alert-success text-center small py-2">Your message has been sent successfully. Thanks for reaching out!</div>
        <% } %>
        <form id="contact-form" class="my-4 px-3" action="/sendEmail" method="POST">
          <div id="contactEmailDiv" class="input-group mb-3">
            <div id="contactEmailPrepend" class="input-group-prepend">
              <span id="contactEmailText" class="input-group-text">Your email</span>
            </div>
            <input id="contactEmailInput" autocomplete="off" type="email" name="email" class="form-control" value="" placeholder=" abc@123.com">
          </div>
          <div id="contactMessageDiv" class="form-group">
            <textarea id="contactMessageInput" autocomplete="off" name="message" class="form-control" value="" placeholder="Schedule a consultation, enquire about accompaniment, etc." rows="10"></textarea>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="recaptchaTokenInput" id="recaptchaTokenInput" value="">
          <button type="submit" id="contactFormSubmit" value="submit" class="btn btn-success btn-lg btn-block mt-3 g-recaptcha">Send</button>
        </form>
      </div>
  </div>

  <!--MAP-->
  <div class="row" id="mapRow">
    <div class="col">
      <div class="mapouter d-flex justify-content-center">
        <div class="gmap_canvas">
          <iframe width="100%" height="auto" id="gmap_canvas" src="https://maps.google.com/maps?q=boronia&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="auto">
          </iframe>
        </div>
        <style>.mapouter{margin:auto; position:relative;text-align:center;height:auto;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:auto;width:100%;}iframe {width:100%;height:450px;border-radius:10px;}</style>
      </div>
    </div>
  </div>
</div>


<script>
  //TRANSLATION
  let languageToggle = function() {
    let languageToggleButton = document.getElementById('languageToggleButton')
    if(languageToggleButton.dataset.lang == 'en') {
      languageToggleButton.dataset.lang = 'cn'
      //hello
      document.getElementById('hello').innerHTML = "你好，我叫 Hanford!"
      generateRainbowText(document.getElementById('hello'))
      //bioh1
      document.getElementById('bioh1').innerHTML = "<span class='zcool'>个人简历</span>"
      //biop
      document.getElementById('biop').innerHTML = "<span class='zcool'>我对科学、纪律和艺术如何在钢琴演奏中融合起來感兴趣。自从四岁在新加坡开始学习钢琴以来，我对这融合学习和教学已经积累了二十多年的思考和实践经验。学习音乐能夠带给人们無窮的乐趣, 能夠带你到很多不同的人生领域, 从我们內心深处到伟大体验的创造。对我来说，音乐代表了人类体验的重要组成部分。</span>"
      //experienceh1
      document.getElementById('experienceh1').innerHTML = "<span class='zcool'>资格/履历</span>"
      //experiencep
      document.getElementById('experiencep').innerHTML = "<span class='zcool'>目前，我正在墨尔本大学(University of Melbourne)攻读教学硕士学位。此外，我还获得了莫纳什大学(Monash University) 泽尔曼考恩爵士音乐学院(Sir Zelman Cowen School of Music)的音乐一等荣誉学位。我的荣誉包括来自本地 Eisteddfods 的奖项、多项大学奖项、学术和音乐奖学金，以及成为 UCSI 国际钢琴比赛的半决赛选手。我曾在墨尔本市政厅(Melbourne Town Hall)、墨尔本演奏中心(Melbourne Recital Centre)、哈默音乐厅(Hamer Hall)、杜内拉庄园(Duneira Estate)等场所演出，在 3MBS 现场演出，与澳大利亚国际歌剧公司(Australian International Opera Company)一起在16 个主要剧院巡回演出，在罗伯特布莱克伍德音乐厅(Robert Blackwood Hall)作为莫纳什学院管弦乐团(Monash Academy Orchestra) 的管风琴独奏家，以及众多的社区活动。我在 2019 年和 2020 年 VCE 音乐会议上的演讲已成功转变为整个墨尔本的学生研讨会。</span>"
      //pedagogyh1
      document.getElementById('pedagogyh1').innerHTML = "<span class='zcool'>教学理念</span>"
      //pedagogyp
      document.getElementById('pedagogyp').innerHTML = "<span class='zcool'>凭借近十年的教学经验，我发现匹配学生的自然学习方式十分重要，欣赏每个独特个体的长处并弥补其短处。通过积极的互动和诚实的对话，我努力让我的学生参与学习。作为综合 学科教育的信徒，我还定期为我的学生设计更广泛的教育计划。我教学生将钢琴演奏理解为三个部分的结合。现实的科学，身心的纪律，以及人类的艺术。</span>"
      //ratesh1
      document.getElementById('ratesh1').innerHTML = "<span class='zcool'>2022 服务</span>"
      //ratesli1
      document.getElementById('ratesli1').innerHTML = "<span class='zcool'>私人课程</span>"
      //ratesli2
      document.getElementById('ratesli2').innerHTML = "<span class='zcool'>$ 100 / 40 分钟，每周 1-3 次</span>"
      //ratesli3
      document.getElementById('ratesli3').innerHTML = "<span class='zcool'>伴奏</span>"
      //ratesli4
      document.getElementById('ratesli4').innerHTML = "<span class='zcool'>请咨询</span>"
      //ratesli5
      document.getElementById('ratesli5').innerHTML = "<span class='zcool'>VCE 工作坊</span>"
      //ratesli6
      document.getElementById('ratesli6').innerHTML = "<span class='zcool'>请咨询</span>"
      //ratesli7
      document.getElementById('ratesli7').innerHTML = "<span class='zcool'><mark class='px-4'>墨尔本博罗尼亚(Boronia)的工作室</mark></span>"
      //ratesli8
      document.getElementById('ratesli8').innerHTML = "<span class='zcool'>Facebook页面在<a target='_blank' href='https://www.facebook.com/hanfordlampiano'>这里</a></span>"

    } else {
      languageToggleButton.dataset.lang = 'en'
      document.getElementById('hello').innerText = "Hello, I'm Hanford!"
      generateRainbowText(document.getElementById('hello'))
      //bioh1
      document.getElementById('bioh1').innerHTML = "Bio"
      //biop
      document.getElementById('biop').innerHTML = "I am in interested in how science, discipline, and art come together in piano playing. Since beginning my studies in Singapore, I have amassed over two decades of practice and thought about this skill. Music is fun because of the places it can take you. From deep within our own minds, to where great experiences are created, both locally and internationally. To me, music represents an essential part of the human experience."
      //experienceh1
      document.getElementById('experienceh1').innerHTML = "Experience"
      //experiencep
      document.getElementById('experiencep').innerHTML = "Currently, I am completing a Master of Teaching at the University of Melbourne. Additionally, I hold a First Class Honours in Music from the Sir Zelman Cowen School of Music, Monash University. My accolades include awards from local Eisteddfods, multiple university prizes, academic and musical scholarships, as well as being semifinalist at the UCSI International Piano Competition. I've delivered performances at venues including the Melbourne Town Hall, Melbourne Recital Centre, Hamer Hall, Duneira Estate, live on 3MBS, 16 major theatres on tour with the Australian International Opera Company, Robert Blackwood Hall as organ soloist with the Monash Academy Orchestra, and numerous community events. My presentations at the 2019 and 2020 VCE Music conferences have been successfully turned into student workshops across Melbourne."
      //pedagogyh1
      document.getElementById('pedagogyh1').innerHTML = "Pedagogy"
      //pedagogyp
      document.getElementById('pedagogyp').innerHTML = "With almost ten years’ of teaching experience, I strive to discover and match my students’ natural learning styles, appreciating the strengths and remedying the weaknesses of each unique individual. It is through positive interaction and honest dialogue that I endeavour to engage my students in learning. As a believer in multidisciplinary education, I also regularly design broader educational programs for my students. I teach students to understand piano playing as an amalgamation of three components. The science of reality, discipline of the mind and body, and artistry of humanity."
      //ratesh1
      document.getElementById('ratesh1').innerHTML = "2022 Services"
      //ratesli1
      document.getElementById('ratesli1').innerHTML = "Private Lessons"
      //ratesli2
      document.getElementById('ratesli2').innerHTML = "$100/40min, 1-3 times a week"
      //ratesli3
      document.getElementById('ratesli3').innerHTML = "Accompaniment"
      //ratesli4
      document.getElementById('ratesli4').innerHTML = "Please enquire"
      //ratesli5
      document.getElementById('ratesli5').innerHTML = "VCE workshops"
      //ratesli6
      document.getElementById('ratesli6').innerHTML = "Please enquire"
      //ratesli7
      document.getElementById('ratesli7').innerHTML = "<mark class='px-4'>Studio in Boronia, Melbourne</mark>"
      //ratesli8
      document.getElementById('ratesli8').innerHTML = "Facebook page <a target=' blank' href='https://www.facebook.com/hanfordlampiano'>here</a>"
    }
  }
</script>

<%- include('includes/footer') %>