<!doctype html>
<html lang="en" id="home-html">
  <head>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-128KK82LWF">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-128KK82LWF');
</script>

    <!-- HTML Meta Tags -->
<title>Hanford Lam | Piano Studio</title>
<meta name="description" content="Piano Teacher, Accompanist, Music Educator">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.hanfordlam.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Hanford Lam | Piano Studio">
<meta property="og:description" content="Piano Teacher, Accompanist, Music Educator">
<meta property="og:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="hanfordlam.com">
<meta property="twitter:url" content="https://www.hanfordlam.com/">
<meta name="twitter:title" content="Hanford Lam | Piano Studio">
<meta name="twitter:description" content="Piano Teacher, Accompanist, Music Educator">
<meta name="twitter:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Handlee&family=Rye&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <title>Hanford Lam | Piano Studio</title>
    <!-- CURSOR -->
    <style>HTML,BODY{cursor: url("../../images/cursor.cur"), auto;}</style>



  </head>
  <body class="background-transparent w-100">
    <!-- NAVBAR -->
    <nav id="myNav" class="rounded recursive row align-items-center text-center w-auto py-2">
      <div class="col-lg-7 g-0">
        <a id="navIcon" class="my-2 d-block" href='/'>Hanford Lam | Piano Studio</a>
      </div>
      <div class="col-lg-5">
        <a id="homeTab" class="mx-4 my-2 d-inline-block navLink" href="/">HOME</a>
        <!--<button class="mx-4 my-2 d-inline-block btn btn-sm btn-info" onclick="location.href='/#contact'">CONTACT</button>-->
        <a id="reportsTab" class="mx-4 my-2 d-inline-block navLink" href="/reports">PORTAL</a>
      </div>
    </nav>
    <div class="container-fluid background-transparent">

      <!-- DYNAMIC NAVBAR AND TITLE -->
      <script>
        let currentPath = window.location.pathname
        if (currentPath == '/') {
          document.getElementById("homeTab").classList.add("orange-text")
          document.title = "Hanford Lam"
        } else if (currentPath == '/practice' || currentPath == '/missions' || currentPath == '/leaderboard' || currentPath == '/parents' || currentPath == '/reports') {
          document.getElementById("reportsTab").classList.add("orange-text")
          document.title = "Portal - Hanford Lam"
        }
      </script>
    <div id="container" class="container">

<!--removed recaptcha v3 23 nov 2021-->

<!-- WELCOME -->
<div id="biographyContainer" class="">
  
  <!--<div class="w-100 text-center"><button data-lang="en" id="languageToggleButton" onclick="languageToggle()" class="btn btn-lg btn-warning text-center mt-3">EN/<span class='zcool' style="font-size: 1.2rem;">中文</span></button>  </div>
  <div class="text-center white-border rounded black-bg m-5 p-5">
    <p class="Poppins" style="color:#ff9422;">VCE and AMEB accompaniment available.</p>
    <p class="Poppins" style="color:#98f15c;">Begin or continue your piano learning journey with a dynamic educator.</p>
    <p class="Poppins" style="color:#7cfff8;">Join Extension Sessions for more time and more support.</p>
    <a href="#pedagogyh1" class="mt-3 btn btn-large btn-secondary">Read about your teacher</a>
  </div>-->

  <!--INTROVIDEO
  <div class="row mt-5" id="">
    <div class="col">
      <div class="responsive-container rounded">
        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/JFwF3VkJNgw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div> -->
  <!--HOW I TEACH-->
<div class="row" id="bioRow">
  <div class="col-xl-8 px-5 my-auto">
    <div class="responsive-container rounded white-border">
      <iframe loading="lazy" width="100%" height="auto" src="https://www.youtube.com/embed/IUUJilaSTJM" title="Haydn - Sonata in F major (Hanford in 2017)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
  <div class="col-xl-4 my-auto py-3">
    <div class="home-display"> 
      <h2 id="bioh1" class="bioTitle recursive dark-orange-text mt-3">Welcome!</h2>
      <p id="biop" class="mt-3 px-3 Poppins black-text"><strong>Learning</strong> to play the piano is an incredible journey filled with endless benefits. <strong>It</strong> not only boosts brain development but also enhances self-expression and personal fulfillment. <strong>I</strong> am eager to share my knowledge and skills with you. <strong>Read</strong> on to find out more about who I am and what I do!</p>
    </div>
  </div>
</div>
  <!--BIO-->
  <div class="row" id="bioRow">
    <div class="col-lg-4 px-5 my-auto">
      <img id="photo2" class="" alt="picture of Hanford the fun and engaging piano teacher" src="../images/hanford-music-teacher.webp">
    </div>
    <div class="col-lg-8 py-3 my-auto">
      <div class="home-display">
      <h2 id="pedagogyh1" class="bioTitle recursive dark-orange-text mt-3">About Me</h2>
        <p id="pedagogyp" class="mt-3 px-3 Poppins black-text"><strong>Piano</strong> playing is a skill that I started developing as a child and improved on for many years. <strong>Along</strong> the way, I earned a Bachelor of Music with Honours from the Sir Zelman Cowen School of Music and a Master of Teaching (Music) from the Melbourne Graduate School of Education. <strong>Achievements</strong> like winning the Joan Earle Classical Prize (Monash) and the USCI International Gold Award (Malaysia) fuelled my determination to keep going. <strong>Performing</strong> with orchestras such as the Monash Academy Orchestra and the Australian International Opera Company boosted my confidence being on stage. <strong>With</strong> almost twelve years of teaching experience, I have had the privilege of working with loving students and parents, and appreciated the connections and insights that they have brought to my practice. <strong>I</strong> have served as the treasurer for the Victorian Music Teachers Association and the 2024 Australasian Piano Pedagogy Conference.</p>        
      </div>
      <iframe loading="lazy" style="max-height:166px;" class="mb-0 mt-5" width="100%" height="166px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/330611534&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false"></iframe>
    </div>
</div>
    
<!--HOW I TEACH-->
<div class="row" id="bioRow">
  <div class="col-xl-4 my-auto py-3">
      <div class="home-display"> 
        <h2 id="bioh1" class="bioTitle recursive dark-orange-text mt-3">Csikszentmihalyi’s Flow</h2>
        <p id="biop" class="mt-3 px-3 Poppins black-text"><strong>Music</strong> is a phenomenon that is deeply fascinating to me. <strong>The</strong> more profound a musical experience, the less there is to say about it. <strong>Floating</strong> along the Dao towards blissful Samadhi. <strong>Music</strong> exemplifies the Hermetic principles in sound form. <strong>The</strong> music learning experience offers much personal growth.</p>
      </div>
    </div>
    <div class="col-xl-8 px-5 my-auto">
      <div class="responsive-container rounded white-border">
        <iframe loading="lazy" width="100%" height="auto" src="https://www.youtube.com/embed/zCZi2z6yWts" title="Chopin - Ballade No. 1 (Hanford in 2020)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
</div>



<!--WHY I TEACH-->
<div class="row" id="bioRow">
  
  <div class="col-xl-4 my-auto py-3">
    <div class="home-display"> 
      <h2 id="bioh1" class="bioTitle recursive dark-orange-text mt-3">Let’s Get Going!</h2>
      <p id="biop" class="mt-3 px-3 Poppins black-text"><strong>More</strong> concretely, at my studio, learning to play the piano centres around personalised, in-person coaching sessions where improvement is measured and guided using a rubric. <strong>During</strong> lessons, we focus on refining playing technique and expanding repertoire. <strong>Beyond</strong> lessons, students also develop theory, composition, improvisation, performance, and aural skills during Music Club on Tuesday evenings and Saturday mornings. <strong>Fun</strong> excursions give students novel experiences to look forward to and exercise their independence. <strong>Thanks</strong> for reading!</p>
    </div>
  </div>
  <div class="col-xl-8 px-5 my-auto">
    <div class="responsive-container rounded white-border">
      <iframe loading="lazy" width="100%" height="auto" src="https://www.youtube.com/embed/EFbHEmuZFjM" title="Poulenc - Toccata (Hanford in 2012)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
</div>

<!-- SERVICES 
<div id="services" class="text-center">
  <div style="height:50px;"></div>
  <div class="p-5 d-inline-block rounded white-border mx-auto display-2 handlee rainbowText black-bg mt-5">Prices</div>
</div>-->

<!--FEES-->
<div class="row" id="bioRow" style="font-size:1.2rem;">
  <!--<div class="col-xl-6 my-auto p-3 justify-content-center">
    <div class="d-flex justify-content-center"><img src="../images/fees-table.png" alt="table of fees" style="max-width: 99%;"></div>
    
  </div>-->
  <div class="col-xl-8 my-auto mx-auto px-3">
    
    <div class="text-center mx-auto home-display py-5">
      <h2 id="bioh1" class="bioTitle recursive dark-orange-text mt-3 mb-5">Fees</h2>
      <ul class="list-unstyled">
        <li id="ratesli9" class="mt-4 Poppins dark-orange-text">$1600 (10-week term)</li>
        <li class="text-muted" style="font-size: small;">AMEB Preliminary to Diploma</li>
        <li id="ratesli10" class="mt-3 black-text recursive">Weekly 60-minute piano lessons (Mon-Fri 4pm-7pm)</li>
        <li id="ratesli10" class="mt-1 black-text recursive">Music Club (Tue 7pm-8pm, Sat 10.30am-12pm)</li>
        <li id="ratesli10" class="mt-1 black-text recursive">Sunday excursions</li>
        <li id="ratesli10" class="mt-1 black-text recursive">Performance opportunities</li>
        <li id="ratesli10" class="mt-5 black-text handlee">Read the <a target="_blank" href="../files/handbook.pdf">Handbook</a></li>
        <!--<li id="ratesli14" class="mt-3 black-text handlee">Download the <a target="_blank" href="../files/practice-guide.pdf">Practice Rubric</a></li>-->
        <li id="ratesli14" class="mt-3 black-text handlee">Find the studio on <a target="_blank" href="https://goo.gl/maps/yz5JEic7aKGkwJ3v8">Google Maps</a></li>
        
        <!--<li id="ratesli8" class="mt-3 grey-text handlee">Connect with Hanford via <a target="_blank" href="https://www.facebook.com/hanfordlampiano">Facebook</a></li>-->
        </ul>
        </div>
  </div>
</div>




<!--FEES
<div class="row" id="bioRow" style="font-size:1.2rem;">
  <div class="col-xl-6 my-auto p-3">
    <div class="text-center mx-auto home-display">


    </div>
  </div>
  <div class="col-xl-6 my-auto px-3">
    <img class="" id="hanford-lam-studio-min" alt="picture of Hanford the piano teacher's music learning studio " src="../images/professional-teaching-studio.webp">
    <img id="photo1" alt="picture of Hanford the experienced and professional piano teacher" class="" src="../images/hanford-piano-teacher.webp">
  </div>
  
</div>-->



  <!-- CONTACT -->
  <div id="contact" class="text-center">
    <div style="height:50px;"></div>
    <div class="p-5 d-inline-block rounded mx-auto display-2 handlee rainbowText white-border black-bg mt-5">Contact Hanford</div>
  </div>
  <script>
    // rainbow headings even with lazy loading
    let elements = document.getElementsByClassName("rainbowText");
    for (let i = 0; i < elements.length; i++) {
      generateRainbowText(elements[i]);
    }
  </script>

  <div id="ratesRow" class="row pt-0">
      <div id="contactForm" class="my-auto px-auto">
        <% if (status == 'fail') { %>
          <div id="contacterror" class="alert alert-danger text-center small mt-1 py-2">Sorry, your message couldn't be sent...maybe try my Facebook Page instead?</div>
        <% } else if (status == 'success') { %>
          <div id="contactsuccess" class="alert alert-success text-center small mt-1 py-2">Your message has been sent successfully. Thanks for reaching out!</div>
        <% } %>
        <form id="contact-form" class="my-4 px-3" action="/sendEmail" method="POST">
          <div id="contactEmailDiv" class="input-group mb-3">
            <div id="contactEmailPrepend" class="input-group-prepend">
              <span id="contactEmailText" class="input-group-text">Your email</span>
            </div>
            <input id="contactEmailInput" autocomplete="off" type="email" name="email" class="form-control" value="" placeholder=" Where should I reply to?">
          </div>
          <div id="contactMessageDiv" class="form-group">
            <textarea id="contactMessageInput" autocomplete="off" name="message" class="form-control" value="" placeholder="Hello there, 😊
 
Are you wanting to begin or continue your piano learning journey? Let's meet for a chat.

Maybe an accompanist? Send me your event and repertoire details to receive a quote.

If you do not hear from me within 48 hours, please feel free to email hanfordlam2012@hotmail.com or text on 0457 720 361.

I look forward to our collaboration.

Best wishes,
Hanford" rows="14"></textarea>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="recaptchaTokenInput" id="recaptchaTokenInput" value="">
          <div class="d-grid gap-2">
            <button type="submit" id="contactFormSubmit" value="submit" class="white-border btn btn-success mt-3">Send</button>
          </div>
          
        </form>
      </div>
  </div>

  

  <!--MAP
  <div class="row" id="mapRow">
    <div class="col">
      <div class="mapouter d-flex justify-content-center">
        <div class="gmap_canvas">
          <iframe loading="lazy" width="100%" height="auto" id="gmap_canvas" src="https://maps.google.com/maps?q=boronia&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="auto">
          </iframe>
        </div>
        <style>.mapouter{margin:auto; position:relative;text-align:center;height:auto;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:auto;width:100%;}iframe {width:100%;height:450px;border-radius:10px;}</style>
      </div>
    </div>
  </div>-->

  <!-- ORGANVIDEO 
  <div class="row" id="organvideo">
    <div class="col">
      <div class="responsive-container rounded white-border">
        <iframe loading="lazy" width="100%" height="auto" src="https://www.youtube.com/embed/YAOTemAigM8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p class="white-text rounded black-bg mt-2">Visit <a class="white-text" target="_blank" href="https://www.anzco.org/10th-anniversary">ANZCO</a> to see other performers and support their work!</p>
    </div>
  </div>-->


</div>


<script>
  // DRAGGABLE WALLET
  var dragItem = document.querySelector(".draggable");
  var container = document.querySelector("#container");

  var active = false;
  var currentX;
  var currentY;
  var initialX;
  var initialY;
  var xOffset = 0;
  var yOffset = 0;

  container.addEventListener("touchstart", dragStart, false);
  container.addEventListener("touchend", dragEnd, false);
  container.addEventListener("touchmove", drag, false);

  container.addEventListener("mousedown", dragStart, false);
  container.addEventListener("mouseup", dragEnd, false);
  container.addEventListener("mousemove", drag, false);

  function dragStart(e) {
    if (e.type === "touchstart") {
      initialX = e.touches[0].clientX - xOffset;
      initialY = e.touches[0].clientY - yOffset;
    } else {
      initialX = e.clientX - xOffset;
      initialY = e.clientY - yOffset;
    }

    if (e.target === dragItem) {
      active = true;
    }
  }

  function dragEnd(e) {
    initialX = currentX;
    initialY = currentY;

    active = false;
  }

  function drag(e) {
    if (active) {
    
      e.preventDefault();
    
      if (e.type === "touchmove") {
        currentX = e.touches[0].clientX - initialX;
        currentY = e.touches[0].clientY - initialY;
      } else {
        currentX = e.clientX - initialX;
        currentY = e.clientY - initialY;
      }

      xOffset = currentX;
      yOffset = currentY;

      setTranslate(currentX, currentY, dragItem);
    }
  }

  function setTranslate(xPos, yPos, el) {
    el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
  }

  // rainbow headings
    window.addEventListener("load", function() {
    let elements = document.getElementsByClassName("rainbowText");
    for (let i = 0; i < elements.length; i++) {
      generateRainbowText(elements[i]);
    }
  })
  
  function generateRainbowText(element) {
    let text = element.innerText;
    element.innerHTML = "";
    for (let i = 0; i < text.length; i++) {
      let charElem = document.createElement("span");
      charElem.style.color = "hsl(" + (360 * i / text.length) + ",100%,50%)";
      charElem.style.fontWeight = "bold";
      charElem.style.textShadow = "0px 4px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), -4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 0px -4px 5px hsl(" + (360 * i / text.length) + ",80%,20%)";
      charElem.innerHTML = text[i];
      element.appendChild(charElem);
    }
  }
  </script>
</div>
    <!-- Footer -->
    <footer class="footer text-center small white-text py-3">
        <p class="m-0 raleway">Thanks for visiting! Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href='/' class="white-text raleway">hanfordlam.com</a>. All rights reserved.</p>
    </footer>
  </div> <!-- close out page container div -->
  <!-- BOOTSTRAP 5 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- TOOLTIPS -->
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
    <script src="../../main-bundled.js"></script>
  </body>
</html>