<%- include('includes/header') %>
<!-- WELCOME -->
<div id="welcome" class="my-3 section">
  <div class="py-4 mt-2 mb-0 mx-0"><h1 id="headingText" class="px-5 display-2 bellota rainbowText text-center">Looking for a teacher?</h1>
    <h3 class="grey-text subtitle text-center handlee py-2 mt-0 mx-3">Come along on a music-learning journey with me</h3>
    <h3 class="grey-text subtitle text-center maShanZheng py-2 mt-0 mx-3">和我一起踏上音乐学习之旅<img class="mb-3 mx-3" src="../images/smile.png"></h3>
  </div>
</div>
<img id="studio-image" src="../images/hanford-lam-studio-min.jpg">

<!-- MEET HANFORD -->
<div id="meet-hanford" class="section">
  <div class="py-4 my-4 mb-4 mx-0"><h1 class="px-5 display-2 caveat rainbowText text-center">Hi, I'm Hanford</h1>
    <h2 class="grey-text text-center handlee py-2 mt-3 px-5">I look forward to sharing with you all that I know about music and lifelong learning. The emotions, discipline, and beauty of this imaginative sonic art. <span class="maShanZheng">我期待与您分享我对音乐和终身学习的所有了解。这种富有想象力的声音艺术的情感、纪律和美感。</span></h2>
  </div>
</div>
<div class="p-4 row justify-content-center">
  <div class="col"><img class="" src="../images/hanford-lam-portrait_d800-min.jpg" id="landscapeHeadshot" alt=""></div>
  <div class="w-100"></div>
  <div id="blurb" class="col-9 text-center">
    <p class="handlee grey-text mt-5">I am delighted to speak to <span class="yellow-text">you</span> candidly. My own <span class="blue-text">diverse</span> journey has given me valuable <span class="purple-text">opportunities</span> to <span class="green-text">learn</span> at local and international <span class="pink-text">competitions</span>; from friendly fun at the Knox Piano Awards to competing against top players at the UCSI International Semifinals. I've also done my share of <span class="orange-text">exams</span>; from AMEB and ABRSM grades to a gruelling Honours recital and thesis. Lifelong learning is a <span class="yellow-text">passion</span>. I am currently completing a <span class="blue-text">Master of Teaching</span> at The University of Melbourne. I hope to inspire my students to chase <span class="purple-text">knowledge</span> and <span class="green-text">skills</span> in the realms of the <span class="pink-text">arts</span> and the <span class="orange-text">sciences</span>.</p>
    <p class="handlee grey-text">My fondest memories of <span class="yellow-text">performing</span> include touring China with the Australian International Opera Company and soloing with the Monash Academy Orchestra while my worst is <span class="blue-text">definitely</span> attempting an audition underprepared. Working through <span class="purple-text">challenges</span> and <span class="green-text">doubt</span> makes the prizes and scholarships I've won so much more <span class="pink-text">meaningful</span>. Performance anxiety is a hot topic that I have <span class="orange-text">presented</span> on during the 2019 and 2020 VCE Conferences.</p>
    <p class="handlee grey-text">Travel, language, math, and <span class="yellow-text">great food</span> are all interests of mine. You may be surprised to learn how music is deeply <span class="blue-text">connected</span> to everything around you. My studio is a <span class="purple-text">safe space</span> for all learners to develop an <span class="green-text">open mind</span> and experience <span class="pink-text">growth</span>. I may be a piano teacher by trade but more generally, I am an <span class="orange-text">educator</span>.</p>
    <p class="handlee grey-text">We now live in a<span class="yellow-text"> world</span> where the <span class="blue-text">best gift</span> you can give someone is the skill of <span class="green-text">how to learn</span>.</p>
    <p class="maShanZheng grey-text mt-5">我很高兴与<span class="yellow-text">您</span>坦诚交谈。我自己<span class="blue-text">多元化</span>的旅程给了我在本地和国际<span class="purple-text">比赛</span>中<span class="green-text">学习</span>的宝贵<span class="pink-text">机会</span>；从诺克斯钢琴奖的友好乐趣到在 UCSI 国际半决赛中与顶级球员竞争。我也完成了我应得的<span class="orange-text">考试</span>；从 AMEB 和 ABRSM 成绩到艰苦的荣誉演奏会和论文。终身学习是一种<span class="yellow-text">激情</span>。我目前正在墨尔本大学攻读<span class="blue-text">教学硕士</span>学位。我希望激励我的学生去追求<span class="purple-text">艺术</span>和<span class="green-text">科学</span>领域的<span class="pink-text">知识</span>和<span class="orange-text">技能</span>。</p>
    <p class="maShanZheng grey-text">我对<span class="yellow-text">表演</span>最美好的回忆包括与澳大利亚国际歌剧团一起巡演中国以及与莫纳什学院管弦乐团一起独奏，而我最糟糕的<span class="blue-text">肯定</span>是在准备不足的情况下尝试试镜。克服<span class="purple-text">挑战</span>和<span class="green-text">怀疑</span>使我赢得的奖品和奖学金更有<span class="pink-text">意义</span>。表现焦虑是我在 2019 年和 2020 年 VCE 会议期间<span class="orange-text">提出</span>的一个热门话题。</p>
    <p class="maShanZheng grey-text">旅行、语言、数学和<span class="yellow-text">美食</span>都是我的兴趣。您可能会惊讶地发现音乐如何与您周围的一切事物<span class="blue-text">紧密相连</span>。我的工作室是所有学习者发展<span class="purple-text">开放心态</span>和体验<span class="green-text">成长</span>的<span class="pink-text">安全空间</span>。我可能是一名钢琴教师，但更一般地说，我是一名<span class="orange-text">教育家</span>。</p>
    <p class="maShanZheng grey-text">我们现在生活在这样一个<span class="yellow-text">世界</span>里，你可以给某人<span class="blue-text">最好的礼物</span>是<span class="green-text">如何学习</span>的技能。</p>
  </div>
</div>

<!-- FEES -->
<div id="accordion" class="my-5">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Accompaniment <span class="mx-1"></span><span class="maShanZheng">伴奏</span>
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <ul class="list-unstyled">
          <li><span class="orange-text recursive">ENQUIRE FOR RATE <span class="mx-1"></span><span class="maShanZheng">查询价格</span></span></li>
          <li>VCE, AMEB, and ABRSM exams <span class="mx-1"></span><span class="maShanZheng">VCE、AMEB 和 ABRSM 考试</span></li>
          <li>VCA and university auditions <span class="mx-1"></span><span class="maShanZheng">VCA和大学试镜</span></li>
          <li>Eisteddfods and other competitions <span class="mx-1"></span><span class="maShanZheng">Eisteddfods 和其他比赛</span></li>
          <li>Student and professional performances <span class="mx-1"></span><span class="maShanZheng">学生和专业表演</span></li>
          <li>General ensemble rehearsals <span class="mx-1"></span><span class="maShanZheng">一般合奏排练</span></li>
          <li>All levels and instruments <span class="mx-1"></span><span class="maShanZheng">所有级别和乐器</span></li>
          <li>9+ years of experience <span class="mx-1"></span><span class="maShanZheng">超过九年的经验</span></li>
          <li class="mt-3 orange-text"><a href="/contact" class="btn btn-sm btn-outline-light">Message Hanford <span class="mx-1"></span><span class="maShanZheng">发送消息</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          One-on-one lessons <span class="mx-1"></span><span class="maShanZheng">私人课程</span>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <ul class="list-unstyled">
          <li><span class="orange-text recursive">$90/HOUR</span></li>
          <li>Expert personalised guidance <span class="mx-1"></span><span class="maShanZheng">专家个性化指导</span></li>
          <li>Interactive approach <span class="mx-1"></span><span class="maShanZheng">互动方式</span></li>
          <li>Student performance opportunities <span class="mx-1"></span><span class="maShanZheng">学生表演机会</span></li>
          <li>Concert excursions <span class="mx-1"></span><span class="maShanZheng">音乐会游览</span></li>
          <li>From beginners to advanced diplomas <span class="mx-1"></span><span class="maShanZheng">从初学者到高级文凭</span></li>
          <li class="mt-3 orange-text"><a href="/contact" class="btn btn-sm btn-outline-light">Message Hanford <span class="mx-1"></span><span class="maShanZheng">发送消息</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Blended learning <span class="mx-1"></span><span class="maShanZheng">混合学习</span>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <ul class="list-unstyled">
          <li><span class="orange-text recursive">ENQUIRE FOR RATE <span class="mx-1"></span><span class="maShanZheng">查询价格</span></span></li>
          <li>Max group of three <span class="mx-1"></span><span class="maShanZheng">最多三人一组</span></li>
          <li>Alternating private lesson and group class each week <span class="mx-1"></span><span class="maShanZheng">每周交替进行私人课程和小组课程</span></li>
          <li>Learn with your friends <span class="mx-1"></span><span class="maShanZheng">和你的朋友一起学习</span></li>
          <li>Holistic progression <span class="mx-1"></span><span class="maShanZheng">整体进步</span></li>
          <li>Group activities and games <span class="mx-1"></span><span class="maShanZheng">团体活动和游戏</span></li>
          <li class="mt-3 orange-text"><a href="/contact" class="btn btn-sm btn-outline-light">Message Hanford <span class="mx-1"></span><span class="maShanZheng">发送消息</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%- include('includes/footer') %>