<!doctype html>
<html lang="en" id="home-html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Handlee&family=Rye&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <title>Hanford Lam | Piano Teacher</title>
    <!-- CURSOR -->
    <style>HTML,BODY{cursor: url("../../images/cursor.cur"), auto;}</style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S7KLNXVSDD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-S7KLNXVSDD');
    </script>
  </head>
  <body class="background-transparent w-100">
    <!-- NAVBAR -->
    <nav id="myNav" class="rounded recursive row align-items-center text-center w-auto py-2">
      <div class="col-lg-7">
        <a id="navIcon" class="my-2 d-block" href='/'>Hanford Lam | Piano Teacher</a>
      </div>
      <div class="col-lg-5">
        <a id="homeTab" class="mx-4 my-2 d-inline-block navLink" href="/">HOME</a>
        <button class="mx-4 my-2 d-inline-block btn btn-sm btn-info" onclick="location.href='/#ratesRow'">CONTACT</button>
        <a id="reportsTab" class="mx-4 my-2 d-inline-block navLink" href="/reports">PORTAL</a>
      </div>
    </nav>
    <div class="container-fluid background-transparent">

      <!-- DYNAMIC NAVBAR AND TITLE -->
      <script>
        let currentPath = window.location.pathname
        if (currentPath == '/') {
          document.getElementById("homeTab").classList.add("orange-text")
          document.title = "Hanford Lam"
        } else if (currentPath == '/practice' || currentPath == '/missions' || currentPath == '/leaderboard' || currentPath == '/parents' || currentPath == '/reports') {
          document.getElementById("reportsTab").classList.add("orange-text")
          document.title = "Portal - Hanford Lam"
        }
      </script>
    <div id="container" class="container">

<!--removed recaptcha v3 23 nov 2021-->

<!-- WELCOME -->
<div id="biographyContainer" class="">
  
  <!--<div class="w-100 text-center"><button data-lang="en" id="languageToggleButton" onclick="languageToggle()" class="btn btn-lg btn-warning text-center mt-3">EN/<span class='zcool' style="font-size: 1.2rem;">中文</span></button>  </div>-->
  <div class="text-center">
    <h1 id="hello" class="p-5 d-inline-block rounded mx-auto display-2 bellota rainbowText black-bg my-5">Hello, I'm Hanford!</h1>
  </div>
  <script>
    // rainbow headings even with lazy loading
    let elements = document.getElementsByClassName("rainbowText");
    for (let i = 0; i < elements.length; i++) {
      generateRainbowText(elements[i]);
    }
  </script>
  <!--INTROVIDEO -->
  <div class="row mt-5" id="">
    <div class="col">
      <div class="responsive-container rounded">
        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/qy1xPeuK69c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
  <!--BIO-->
  <div class="row gy-3" id="bioRow">
    <div class="col-xl-8 px-5 my-auto">
      <img id="photo1" alt="picture of Hanford the experienced and professional piano teacher" class="" src="../images/hanford-piano-teacher.webp">
    </div>
    <div class="col-xl-4 my-auto py-3">
      <div class="home-display"> 
        <h2 id="bioh1" class="bioTitle dark-orange-text mt-3">Welcome</h2>
        <p id="biop" class="mt-3 px-3 recursive black-text">Science and art come together in piano playing. I can help your child learn core scientific and artistic principles that give them a solid foundation on which they can express themselves in meaningful and fun ways. Through patient dialogue and lots of practical demonstrations, I take pride in providing research-backed lessons that are engaging and that build their confidence.</p>
      </div>
      </div>
  </div>
  <!--FEATUREVIDEO -->
  <div class="row featureVideoRow">
    <div class="col">
      <div class="responsive-container rounded">
        <iframe loading="lazy" width="100%" height="auto" src="https://www.youtube.com/embed/zCZi2z6yWts" title="Chopin - Ballade No. 1 (Hanford in 2020)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!--EXPERIENCE-->
  <div class="row" id="experienceRow">
    <div class="col-lg-8 mx-auto my-auto py-3">
      <div class="home-display">
        <h2 id="experienceh1" class="bioTitle dark-orange-text mt-3">Qualifications</h2>
        <p id="experiencep" class="mt-3 px-3 recursive black-text">I hold a first-class Honours degree in Classical Piano from the Sir Zelman Cowen School of Music, Monash University. My desire to teach well led me to undertake further training with a Master of Teaching at the University of Melbourne in 2021. My accolades include awards from local Eisteddfods, multiple university prizes, academic and musical scholarships, as well as being a semi-finalist at the 2018 UCSI International Piano Competition. I have given performances at venues all around Melbourne, live on radio, on tour in China, and at numerous community events. My VCE conference presentations have transformed into school partnerships and I currently volunteer as treasurer on the directors' board of the <a style="color:black;text-decoration: none;" href="https://www.vmta.org.au/about/vmta-board-management-/vmta-executive/" target="_blank">Victorian Music Teachers’ Association</a>.</p>
      </div>
    </div>
    <!--<div class="w-100"></div>
    <div class="col my-auto">
      <img class="mx-auto d-block" style="max-width:960px;" id="hanford-lam-studio-min" alt="picture of Hanford the piano teacher's music learning studio " src="../images/professional-teaching-studio.webp">
    </div>-->
  </div>
    <!--FEATUREVIDEO -->
    <div class="row featureVideoRow">
      <div class="col">
        <div class="responsive-container rounded">
          <iframe loading="lazy" width="100%" height="auto" src="https://www.youtube.com/embed/EFbHEmuZFjM" title="Poulenc - Toccata (Hanford in 2012)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  <!--PEDAGOGY-->
  <div class="row" id="pedagogyRow">
    <div class="col-lg-4 px-5 my-auto">
      <img id="photo2" class="" alt="picture of Hanford the fun and engaging piano teacher" src="../images/hanford-music-teacher.webp">
    </div>
    <div class="col-lg-8 py-3 my-auto">
      <div class="home-display">
      <h2 id="pedagogyh1" class="bioTitle dark-orange-text mt-3">Teaching</h2>
        <p id="pedagogyp" class="mt-3 px-3 recursive black-text">I taught my very first lesson in 2012 and I continue to improve my pedagogy. My teaching style involves discovering each student’s strengths and using positive interaction and honest dialogue to promote effective learning. A holistic approach is the key to balance. Come and join me to learn about the science of reality, the discipline of the mind and body, and the artistry of humanity.</p>        
      </div>
      <iframe loading="lazy" style="max-height:166px;" class="mb-0 mt-5" width="100%" height="166px" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/330611534&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false"></iframe>
      </div>
    </div>  

  <!--FEATUREVIDEO -->
  <div class="row featureVideoRow">
    <div class="col">
      <div class="responsive-container rounded">
        <iframe loading="lazy" width="100%" height="auto" src="https://www.youtube.com/embed/IUUJilaSTJM" title="Haydn - Sonata in F major (Hanford in 2017)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!-- FEES -->
  <div id="ratesRow" class="row pt-5">
    <div class="col-lg-5 my-auto">
      <div class="text-center mx-auto home-display">
        <div class="recursive">
          <h2 id="ratesh1" class="bioTitle dark-orange-text my-3"></h2>
        </div>
        <ul class="list-unstyled">
          <li id="ratesli9" class="mt-4 black-text"><mark class="px-4">$1070 / $1450 term bundle :</mark></li>
          <li class="text-muted" style="font-size: x-small;">($123 / $120 per hour + $250 enrichment bundle)</li>
          <li id="ratesli10" class="mt-3 dark-orange-text bellota"><strong>Private Coaching</strong></li>
          <li id="ratesli1" class="dark-orange-text bellota">Weekly 40 / 60 minute lessons</li>
          <li id="ratesli4" class="dark-orange-text bellota"><strong>Group workshops</strong></li>
          <li id="ratesli5" class="dark-orange-text bellota">Performing and socialising</li>
          <li id="ratesli4" class="dark-orange-text bellota"><strong>Concert Experiences</strong></li>
          <li id="ratesli5" class="dark-orange-text bellota">Hearing different kinds of music</li>
          <li id="ratesli6" class="dark-orange-text bellota"><strong>Daily Support</strong></li>
          <li id="ratesli11" class="dark-orange-text bellota">Student-focused help</li>
          <li id="ratesli12" class="dark-orange-text bellota"><strong>Holiday program</strong></li>
          <li id="ratesli13" class="dark-orange-text bellota">Linking music to the Victorian curriculum</li>
          <li id="ratesli9" class="mt-4 black-text"><mark class="px-4">Casual Coaching / Accompaniment</mark></li>
          <li class="text-muted" style="font-size: x-small;">(Pay as much as you want to book)</li>
          <li id="ratesli3" class="mt-3 dark-orange-text bellota"><span class="dark-orange-text bellota"><strong>$126/h</strong></span> pro rata</li>
          <li id="ratesli14" class="mt-3 grey-text bellota">Google maps <a target="_blank" href="https://goo.gl/maps/yz5JEic7aKGkwJ3v8">here</a></li>
          <li id="ratesli7" class="grey-text bellota">Activity schedule <a target="_blank" href="/schedule">here</a></mark></li>
          <li id="ratesli8" class="grey-text bellota">Facebook page <a target="_blank" href="https://www.facebook.com/hanfordlampiano">here</a></li>
        </ul>
      </div>
    </div>
      <div id="contactForm" class="col-lg-7 my-auto px-auto">
        <% if (status == 'fail') { %>
          <div id="contacterror" class="alert alert-danger text-center small mt-1 py-2">Sorry, your message couldn't be sent...maybe try my Facebook Page instead?</div>
        <% } else if (status == 'success') { %>
          <div id="contactsuccess" class="alert alert-success text-center small mt-1 py-2">Your message has been sent successfully. Thanks for reaching out!</div>
        <% } %>
        <form id="contact-form" class="my-4 px-3" action="/sendEmail" method="POST">
          <div id="contactEmailDiv" class="input-group mb-3">
            <div id="contactEmailPrepend" class="input-group-prepend">
              <span id="contactEmailText" class="input-group-text">Your email</span>
            </div>
            <input id="contactEmailInput" autocomplete="off" type="email" name="email" class="form-control" value="" placeholder=" abc@123.com">
          </div>
          <div id="contactMessageDiv" class="form-group">
            <textarea id="contactMessageInput" autocomplete="off" name="message" class="form-control" value="" placeholder="Hello there,

Would you like to start learning? Let's make a time to meet for a quick chat and you can ask me all your questions.            

If you do not get a reply from me within 24 hours, feel free to email me at hanfordlam2012@hotmail.com or text me on 0457 720 361.

Talk soon!

Best wishes,
Hanford" rows="18"></textarea>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="recaptchaTokenInput" id="recaptchaTokenInput" value="">
          <div class="d-grid gap-2">
            <button type="submit" id="contactFormSubmit" value="submit" class="btn btn-primary mt-3">Send</button>
          </div>
          
        </form>
      </div>
  </div>

  <!--MAP
  <div class="row" id="mapRow">
    <div class="col">
      <div class="mapouter d-flex justify-content-center">
        <div class="gmap_canvas">
          <iframe loading="lazy" width="100%" height="auto" id="gmap_canvas" src="https://maps.google.com/maps?q=boronia&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="auto">
          </iframe>
        </div>
        <style>.mapouter{margin:auto; position:relative;text-align:center;height:auto;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:auto;width:100%;}iframe {width:100%;height:450px;border-radius:10px;}</style>
      </div>
    </div>
  </div>-->

  <!-- ORGANVIDEO -->
  <div class="row" id="organvideo">
    <div class="col">
      <div class="responsive-container rounded">
        <iframe loading="lazy" width="100%" height="auto" src="https://www.youtube.com/embed/YAOTemAigM8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p class="white-text rounded black-bg mt-2">Visit <a class="white-text" target="_blank" href="https://www.anzco.org/10th-anniversary">ANZCO</a> to see other performers and support their work!</p>
    </div>
  </div>


</div>


<script>
  //TRANSLATION
  let languageToggle = function() {
    let languageToggleButton = document.getElementById('languageToggleButton')
    if(languageToggleButton.dataset.lang == 'en') {
      languageToggleButton.dataset.lang = 'cn'
      //hello
      document.getElementById('hello').innerHTML = "你好，我叫 Hanford!"
      generateRainbowText(document.getElementById('hello'))
      //bioh1
      document.getElementById('bioh1').innerHTML = "<span class='zcool'>引言</span>"
      //biop
      document.getElementById('biop').innerHTML = "<span class='zcool'>我想向人们展示科学、纪律和艺术如何在钢琴演奏中融合在一起。 自从我四岁开始学习以来，我已经在这项技能上积累了二十多年的经验和训练。 音乐很有趣，因为它可以带你去很多地方，音乐教育可以帮助你以不同的方式看到有意义的联系。 对我来说，音乐代表了人类体验的重要组成部分。</span>"
      //experienceh1
      document.getElementById('experienceh1').innerHTML = "<span class='zcool'>资格/履历</span>"
      //experiencep
      document.getElementById('experiencep').innerHTML = "<span class='zcool'>我正在墨尔本大学 (University of Melbourne) 攻读教学硕士学位。 此外，我拥有莫纳什大学 (Monash University) 泽尔曼考恩爵士音乐学院 (Sir Zelman Cowen School of Music) 的一等荣誉学位。 我的荣誉包括来自当地 Eisteddfods 的奖项、多项大学奖项、学术和音乐奖学金，以及成为 UCSI 国际钢琴比赛的半决赛选手。<br><br>我曾在墨尔本市政厅 (Melbourne Town Hall) 、墨尔本演奏中心 (Melbourne Recital Centre) 、哈默音乐厅 (Hamer Hall) 、杜内拉庄园 (Duneira Estate) 等场所演出，在 3MBS 现场直播，与澳大利亚国际歌剧公司 (Australian International Opera Company) 一起在 16 个主要剧院巡回演出， 在罗伯特布莱克伍德音乐厅 (Robert Blackwood Hall) 作为莫纳什学院管弦乐团 (Monash Academy Orchestra) 的管风琴独奏家， 以及众多的社区活动。 我在 2019 年和 2020 年 VCE 音乐会议上的演讲促进了我作为墨尔本各学校 VCE 音乐表演专家的工作。</span>"
      //pedagogyh1
      document.getElementById('pedagogyh1').innerHTML = "<span class='zcool'>教学</span>"
      //pedagogyp
      document.getElementById('pedagogyp').innerHTML = "<span class='zcool'>凭借近十年的教学经验，我致力于发掘和匹配学生的自然学习风格，欣赏每个独特个体的优势和差异。 通过积极的互动和诚实的对话，我努力让我的学生和他们的家人参与学习。<br><br>作为综合学科教育的信徒，我还定期为我的学生设计更广泛的教育计划。 我教学生将钢琴演奏理解为三个部分的融合。 现实的科学， 身心的纪律，以及人类的艺术。 我的目标是创造音乐体验，影响和造福学生的余生。</span>"
      //ratesh1
      document.getElementById('ratesh1').innerHTML = "<span class='zcool'>服务</span>"
      //ratesli1
      document.getElementById('ratesli1').innerHTML = "<span class='zcool'>钢琴教育课程</span>"
      //ratesli2
      document.getElementById('ratesli2').innerHTML = "<span class='zcool'>整体学习 $1600一个学期</span>"
      //ratesli3
      document.getElementById('ratesli3').innerHTML = "<span class='zcool'>持续的支持和指导</span>"
      //ratesli4
      document.getElementById('ratesli4').innerHTML = "<span class='zcool'>每周 60 分钟的私人课程</span>"
      //ratesli5
      document.getElementById('ratesli5').innerHTML = "<span class='zcool'>学生表演工作坊和演奏会</span>"
      //ratesli6
      document.getElementById('ratesli6').innerHTML = "<span class='zcool'>AMEB 指导学习进展</span>"
      //ratesli7
      document.getElementById('ratesli7').innerHTML = "<span class='zcool'><mark class='px-4'>墨尔本博罗尼亚(Boronia)的工作室</mark></span>"
      //ratesli8
      document.getElementById('ratesli8').innerHTML = "<span class='zcool'>Facebook页面在<a target='_blank' href='https://www.facebook.com/hanfordlampiano'>这里</a></span>"
      //ratesli9
      document.getElementById('ratesli9').innerHTML = "<span class='zcool'>钢琴伴奏</span>"
      //ratesli10
      document.getElementById('ratesli10').innerHTML = "<span class='zcool'>请询问</span>"
      //ratesli11
      document.getElementById('ratesli11').innerHTML = "<span class='zcool'>钢琴积分奖励计划</span>"
      //ratesli12
      document.getElementById('ratesli12').innerHTML = "<span class='zcool'>Musica Viva 数码音乐会</span>"
      //ratesli13
      document.getElementById('ratesli13').innerHTML = "<span class='zcool'>课外活动</span>"
      //ratesli14
      document.getElementById('ratesli14').innerHTML = "<span class='zcool'>初学者到高级</span>"

    } else {
      languageToggleButton.dataset.lang = 'en'
      document.getElementById('hello').innerText = "Hello, I'm Hanford!"
      generateRainbowText(document.getElementById('hello'))
      //bioh1
      document.getElementById('bioh1').innerHTML = "Welcome"
      //biop
      document.getElementById('biop').innerHTML = "Science and art come together in piano playing. My students learn core scientific and artistic principles that give them a solid foundation on which they can express themselves in meaningful and fun ways. Through patient dialogue and lots of hands-on demonstrations, I take pride in providing lessons that are both positive and engaging."
      //experienceh1
      document.getElementById('experienceh1').innerHTML = "Qualifications"
      //experiencep
      document.getElementById('experiencep').innerHTML = "I am completing a Master of Teaching at the University of Melbourne. Additionally, I hold a first-class Honours degree in Music from the Sir Zelman Cowen School of Music, Monash University. My accolades include awards from local Eisteddfods, multiple university prizes, academic and musical scholarships, as well as being a semi-finalist at the UCSI International Piano Competition.<br><br>I have given performances at venues including the Melbourne Town Hall, Melbourne Recital Centre, Hamer Hall, Duneira Estate, live on 3MBS, 16 major theatres on tour with the Australian International Opera Company, Robert Blackwood Hall as organ soloist with the Monash Academy Orchestra, and numerous community events. My presentations at the 2019 and 2020 VCE Music conferences support my work as a VCE Music Performance specialist in schools across Melbourne."
      //pedagogyh1
      document.getElementById('pedagogyh1').innerHTML = "Teaching"
      //pedagogyp
      document.getElementById('pedagogyp').innerHTML = "With almost ten years of teaching experience, I work to discover and match my students’ natural learning styles, appreciating the strengths and differences of each unique individual. It is through positive interaction and honest dialogue that I endeavour to engage my students and their families in learning.<br><br>As a believer in multidisciplinary education, I also regularly design broader educational programs for my students. I teach students to understand piano playing as a fusion of three components. The science of reality, the discipline of the mind and body, and the artistry of humanity. My goal is to create musical experiences that will impact and benefit students for the rest of their lives."
      //ratesh1
      document.getElementById('ratesh1').innerHTML = "Services"
      //ratesli1
      document.getElementById('ratesli1').innerHTML = "<strong>Piano Education Program</strong>"
      //ratesli2
      document.getElementById('ratesli2').innerHTML = "Holistic learning for $1600 each term"
      //ratesli3
      document.getElementById('ratesli3').innerHTML = "Ongoing support & mentorship"
      //ratesli4
      document.getElementById('ratesli4').innerHTML = "Weekly 60-minute private sessions"
      //ratesli5
      document.getElementById('ratesli5').innerHTML = "Performance workshops & recitals"
      //ratesli6
      document.getElementById('ratesli6').innerHTML = "AMEB guided learning progression"
      //ratesli7
      document.getElementById('ratesli7').innerHTML = "<mark class='px-4'>Studio in Boronia, Melbourne</mark>"
      //ratesli8
      document.getElementById('ratesli8').innerHTML = "Facebook page <a target=' blank' href='https://www.facebook.com/hanfordlampiano'>here</a>"
      //ratesli9
      document.getElementById('ratesli9').innerHTML = "<strong>Exam Accompaniment</strong>"
      //ratesli10
      document.getElementById('ratesli10').innerHTML = "Please enquire"
      //ratesli11
      document.getElementById('ratesli11').innerHTML = "Piano points rewards program"
      //ratesli12
      document.getElementById('ratesli12').innerHTML = "Musica Viva Digital concerts"
      //ratesli13
      document.getElementById('ratesli13').innerHTML = "Extra-curricular experiences"
      //ratesli14
      document.getElementById('ratesli14').innerHTML = "Beginners to advanced"
    }
  }
</script>

<%- include('includes/footer') %>