<%- include('includes/header') %>
<div id="home-container-1" class="p-2 mx-0 my-4 rounded row align-items-center justify-content-center">
    <div id="brand" class="rounded mb-5 text-center border">
        <h1 class="display-2 recursive">Are you...</h1>
        <h2 class="poppins" style="font-size: 20px;">looking for a piano teacher or accompanist?</h2>
    </div>
</div>
<div class="p-2 mx-0 my-4 rounded full-width-home-container-transparent row align-items-center justify-content-end">
    <div class="p-4 row">
        <div class="col justify-content-center"><img class="rounded border" src="../images/hanford-lam-portrait_d800-min.jpg" id="landscapeHeadshot" alt=""></div>
        <div class="w-100"></div>
        <div class="col mt-5 text-center">
            <h1 class="caveat" style="font-size: 80px;">Hi, I'm Hanford.</h1>
            <p class="white-text mb-4">I look forward to sharing with you all that I know about music and lifelong learning.<br>The emotions, the discipline, and the beauty of this imaginative sonic art.</p>
        </div>
    </div>
</div>
<div class="p-2 mx-0 my-4 py-4 rounded full-width-home-container-indigo row align-items-center justify-content-end">
    <div class="row align-items-center p-4">
        <div class="col-5"><img class="rounded border" id="portraitHeadshot" src="../images/2020-portrait.jpg" alt=""></div>
        <div class="col-7">
            <h1 class="mb-3 caveat" style="font-size: 60px;">Get to know me</h1>
            <p class="white-text">I am delighted to speak to you candidly. My own diverse journey has given me valuable opportunities to learn at local and international competitions; from friendly fun at the Knox Piano Awards to competing against top players at the UCSI International Semifinals. I've also done my share of exams; from AMEB and ABRSM grades to a gruelling Honours recital and thesis. Lifelong learning is a passion. I am going back to university for deeper study from 2021 to 2023. I hope to inspire my students to chase knowledge and skills in the realms of the arts and the sciences.</p>
            <p class="white-text">My fondest memories of orchestral performances include touring China with the Australian International Opera Company and soloing with the Monash Academy Orchestra while my worst is definitely memory lapsing at an audition. Working through challenges and doubt makes the prizes and scholarships I've won so much more meaningful. Performance anxiety is a hot topic that I have presented on during the 2019 and 2020 VCE Conferences.</p>
            <p class="white-text">Travel, language, math, and great food are all interests of mine. You may be surprised to learn how music is deeply connected to everything around you. My studio is a safe space for all learners to develop an open mind and experience growth. I may be a piano teacher by trade but more generally, I am an educator.</p>
            <p class="white-text">We now live in a world where the best gift you can give someone is the skill of how to learn.</p>
        </div>
        
    </div>
</div>
<div style="padding-bottom: 70px;" class="pt-4 mx-0 mt-5 mb-5 rounded full-width-home-container-black row align-items-center justify-content-center">
    <div class="p-4 row justify-content-center text-center">
        <div class="col">
            <h1 class="mb-3 caveat" style="font-size: 60px;"><b>2021 Fees</b></h1>
            <h3 class="white-text">Your money supports both your child's learning and Hanford's.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                  <h4 class="my-0">Weekly Lessons</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title">$84/hr</h1>
                  <ul class="list-unstyled">
                    <li>Consistent progress</li>
                    <li>Interactive and holistic</li>
                    <li>Socratic styled</li>
                    <li>Flexible learning</li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
          <div class="card-header">
            <h4 class="my-0">Accompaniment</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title">Enquire</h1>
            <ul class="list-unstyled">
              <li>AMEB, ABRSM, VCE</li>
              <li>Exams and recitals</li>
              <li>Highly experienced</li>
              <li>Travel or in-studio</li>
            </ul>
          </div>
        </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                  <h4 class="my-0">Other</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title">Free</h1>
                  <ul class="list-unstyled">
                    <li>Holiday programs</li>
                    <li>Student recitals</li>
                    <li>General advice</li>
                    <li>Love and care</li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
</div>
    
</div>
<div class="p-2 mx-0 mb-4 rounded full-width-home-container-blue row align-items-center justify-content-end">
    <div class="row p-4">
        <div class="col align-self-center text-center mb-5">
            <h1 class="mb-4 recursive">Practise. Persevere. Perform.</h1>
            <p class="white-text mb-5">Always be kind to yourself but don't forget to aim high.<br>Make a start today!</p>
            <a href="/contact" class="btn btn-lg btn-outline-warning">Book a trial lesson</a>
        </div>
        <div class= "col">
            <img class="rounded border" id="backstage" src="../images/backstage-hanford-lam-min.jpeg" alt="">
        </div>
    </div>
    
</div>
    

<%- include('includes/footer') %>