<%- include('includes/header') %>
<div class="p-2 mx-0 my-5 text-center py-4 rounded media-div">
    <h1 style="font-size: 4rem" class="yellow-text bellota">Live on 3MBS radio 2017</h1>
    <p class="grey-text">J. S. Bach - Prelude and Fugue in F minor BWV 857</p>
    <p class="grey-text">F. J. Haydn - Sonata in F major No. 38 Hob. XVI/23 first movement</p>
    <p class="grey-text">F. Liszt - Transcendental Etude No. 8 <i>Wilde Jagd</i></p>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/330611534&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>
<hr>
<div class="p-2 mx-0 my-5 text-center py-4 rounded media-div">
    <h1 style="font-size: 4rem" class="yellow-text bellota">Melbourne Singers Concert 2016</h1>
    <p class="grey-text">G. Gershwin - Piano Concerto in F first movement</p>
    <p class="grey-text">Soloist - Isaac Chok</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VN2-2CGA1W0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<hr>
<div class="p-2 mx-0 my-5 text-center py-4 rounded media-div">
    <h1 style="font-size: 4rem" class="yellow-text bellota">Trinity College Chapel 2018</h1>
    <p class="grey-text">J. S. Bach - <i>By the rivers of Babylon</i> BWV 653</p>
    <p class="grey-text">J. S. Bach - Trio Sonata in c minor No. 2 first movement</p>
    <p class="grey-text">L. Vierne - Toccata in B&#9837 minor</p>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/476969274&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>
<hr>
<div class="p-2 mx-0 my-5 text-center py-4 rounded media-div">
    <h1 style="font-size: 4rem" class="yellow-text bellota">Mezzo soprano - Danielle O'Keefe</h1>
    <p class="grey-text">W. A. Mozart - <i>Smanie implacabili</i></p>
    <p class="grey-text">S. Rachmaninov - <i>The Soldier's Wife</i></p>
    <p class="grey-text">J. Antill - <i>Prayer</i></p>
    <p class="grey-text">G. Rossini - <i>Non pi&#249; mesta</i></p>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/294361498&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>
<%- include('includes/footer') %>