<!doctype html>
<html lang="en" id="home-html">
  <head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5T56XVQC');</script>
  <!-- End Google Tag Manager -->

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-128KK82LWF">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-128KK82LWF');</script>

    <!-- HTML Meta Tags -->
<title>Hanford Lam | Piano Studio</title>
<meta name="description" content="Piano Teacher, Accompanist, Music Educator">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.hanfordlam.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Hanford Lam | Piano Studio">
<meta property="og:description" content="Piano Teacher, Accompanist, Music Educator">
<meta property="og:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="hanfordlam.com">
<meta property="twitter:url" content="https://www.hanfordlam.com/">
<meta name="twitter:title" content="Hanford Lam | Piano Studio">
<meta name="twitter:description" content="Piano Teacher, Accompanist, Music Educator">
<meta name="twitter:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Handlee&family=Rye&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <title>Hanford Lam | Piano Studio</title>
    <!-- CURSOR -->
    <style>HTML,BODY{cursor: url("../../images/cursor.cur"), auto;}</style>
<!-- FONT AWESOME BOUNCING ARROW-->
<script src="https://kit.fontawesome.com/25ae9b8317.js" crossorigin="anonymous"></script>


  </head>
  <body class="w-100">
    
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5T56XVQC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <!-- NAVBAR -->
    <nav id="myNav" class="rounded recursive row align-items-center text-center w-auto py-2">
      <div class="col-lg-7 g-0">
        <a id="navIcon" class="my-2 d-block" href='/'>Hanford Lam | Piano Studio</a>
      </div>
      <div class="col-lg-5">
        <a id="homeTab" class="mx-4 my-2 d-inline-block navLink" href="/">HOME</a>
        <!--<button class="mx-4 my-2 d-inline-block btn btn-sm btn-info" onclick="location.href='/#contact'">CONTACT</button>-->
        <a id="reportsTab" class="mx-4 my-2 d-inline-block navLink" href="/reports">PORTAL</a>
      </div>
    </nav>
    <div class="container-fluid background-transparent">

      <!-- DYNAMIC NAVBAR AND TITLE -->
      <script>
        let currentPath = window.location.pathname
        if (currentPath == '/') {
          document.getElementById("homeTab").classList.add("orange-text")
          document.title = "Hanford Lam"
        } else if (currentPath == '/practice' || currentPath == '/missions' || currentPath == '/leaderboard' || currentPath == '/parents' || currentPath == '/reports') {
          document.getElementById("reportsTab").classList.add("orange-text")
          document.title = "Portal - Hanford Lam"
        }
      </script>
    <div id="container" class="container">

<!--removed recaptcha v3 23 nov 2021-->

<!-- WELCOME -->
<div id="biographyContainer" class="">
  
  <!--<div class="w-100 text-center"><button data-lang="en" id="languageToggleButton" onclick="languageToggle()" class="btn btn-lg btn-warning text-center mt-3">EN/<span class='zcool' style="font-size: 1.2rem;">中文</span></button>  </div>
  <div class="text-center white-border rounded black-bg m-5 p-5">
    <p class="Poppins" style="color:#ff9422;">VCE and AMEB accompaniment available.</p>
    <p class="Poppins" style="color:#98f15c;">Begin or continue your piano learning journey with a dynamic educator.</p>
    <p class="Poppins" style="color:#7cfff8;">Join Extension Sessions for more time and more support.</p>
    <a href="#pedagogyh1" class="mt-3 btn btn-large btn-secondary">Read about your teacher</a>
  </div>-->

  <!--INTROVIDEO
  <div class="row mt-5" id="">
    <div class="col">
      <div class="responsive-container rounded">
        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/JFwF3VkJNgw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div> -->
  <!--HOW I TEACH-->
<div class="row" id="bioRow">
  <div class="col-xl-12 my-auto py-3">
    <div class="home-display"> 
      <h2 id="bioh1" class="bioTitle recursive dark-orange-text mt-3" style="font-size: 5vmax; max-width: 90%;">Promotions</h2>
      <p id="biop" class="mt-3 px-4 Poppins black-text">
       Find the latest inspirations below 🥳</p>
    </div>
  </div>
</div>

  <!--BIO-->
  <div class="row" id="bioRow">
    <div class="col-lg-4 px-5 my-auto">
      <img id="photo2" class="" alt="picture of Hanford the fun and engaging piano teacher" src="../images/hanford-music-teacher.webp">
    </div>
    <div class="col-lg-8 py-3 my-auto">
      <div class="home-display">
      <h2 id="pedagogyh1" class="bioTitle recursive dark-orange-text mt-5">Piano Recital at the Studio</h2>
        <p id="pedagogyp" class="mt-3 px-3 Poppins black-text"><span class="dark-orange-text"><i>11am Sunday 6 July 2025</i></span><br>*****<br><strong>Miriam Hyde (1913-2005)</strong><br>Reverie<br>Woodland Sketch<br>Reflected Reeds<br>Study in Blue, White, and Gold<br>*****<br><strong>Frederic Chopin (1810-1849)</strong><br>Sonata in B-flat minor (first mov.)<br>Grand Valse Brillante Op. 18<p class="handlee my-5"><a style="font-weight: bold;color: rgb(0, 148, 62); font-size: 2em; word-spacing: 0.3em;" href="https://www.trybooking.com/DARFP" target="_blank">BOOK YOUR SEAT</a>
        </p> </p>        
      </div>
    </div>
</div>
  
<!--BOUNCING ARROW-->
<div class="aboveFalling arrowcontainer">
  <div class="arrow-holder">
    <div id="arrow" class="circle bounce">
        <i class="fas fa-angle-double-down fa-4x drop-arrow"></i>
    </div>
  </div>
</div>

<div class="row" id="bioRow">
  <div class="col-lg-8 py-3 my-auto">
    <div class="home-display">
    <h2 id="pedagogyh1" class="bioTitle recursive dark-orange-text mt-5">Whispers of the Maestro (Digital Download)</h2>
      <p id="pedagogyp" class="mt-3 px-3 Poppins black-text"><strong>Whispers of the Maestro: Unlocking the Magic Within</strong><br><i>Guided by the mystical Maestro, discover the magic of music, imagination, and the piano. Through flowing keys and the rhythm of your breath, unlock the secrets within yourself.</i><br>
      </p>
      <p><strong>Why you'd like it:</strong>
        <br>🛕 Tapping into ancient mysteries
        <br>🎹 Unlock your inner pianist
        <br>🔗 Build musical bonds
        <br>📄 Five short chapters in three pages
      </p>
      <p class="handlee my-5"><a style="font-weight: bold;color: rgb(0, 148, 62); font-size: 2em;" href="https://sendowl.com/hub/hanfords-piano-studio" target="_blank">VISIT THE STORE</a>
    </p>        
    </div>
  </div>
  <div class="col-lg-4 px-5 my-auto">
    <img id="photo2" class="" alt="whispers of the maestro" src="..\images\whispersOfTheMaestro.jpg">
  </div>
 </div> 


  <div class="row" id="bioRow">
    <div class="col-lg-4 px-5 my-auto">
      <img id="photo2" class="" alt="hermetically musical" src="..\images\hermeticallyMusical.jpg">
    </div>
    <div class="col-lg-8 py-3 my-auto">
      <div class="home-display">
      <h2 id="pedagogyh1" class="bioTitle recursive dark-orange-text mt-5">Hermetically Musical (Digital Download)</h2>
        <p id="pedagogyp" class="mt-3 px-3 Poppins black-text"><strong>Hermetically Musical: A Journey Through Music and the Hermetic Principles</strong><br><i>Unlock the hidden connections between music and the universe in Hermetically Musical, an inspiring story that weaves ancient wisdom with the art of sound.</i><br>
        </p>
        <p><strong>Why you'd like it:</strong>
          <br>🌿 Explore the harmony of opposites
          <br>🎼 Feel the rhythm of cause and effect
          <br>🔮 Discover the power of vibration
          <br>📖 13 Short Chapters in 13 Pages
        </p>
        <p class="handlee my-5"><a style="font-weight: bold;color: rgb(0, 148, 62); font-size: 2em;" href="https://sendowl.com/hub/hanfords-piano-studio" target="_blank">VISIT THE STORE</a>
      </p>        
      </div>
    </div>
    
</div>
  
  <div class="row" id="bioRow">
    <div class="col-lg-8 py-3 my-auto">
      <div class="home-display">
      <h2 id="pedagogyh1" class="bioTitle recursive dark-orange-text mt-5">The Pianist's Chain (Digital Download)</h2>
        <p id="pedagogyp" class="mt-3 px-3 Poppins black-text"><strong>The Pianist's Chain: A journey of discovery, healing, and interconnected awareness</strong><br><i>A transformative approach that connects your entire body into a seamless, coordinated system. Discover how shoulder freedom, jaw relaxation, breath awareness, and fingertip balance work together to create effortless movement and expressive sound.</i><br>
        </p>
        <p><strong>Why you'd like it:</strong>
          <br>✨ Feel lighter and more in control
        <br>💆‍♂️ Eliminate unnecessary tension
        <br>🎶 Enhance your touch, tone, and musicality
        <br>🕊️ Play with freedom—no more struggle!
        </p>
        <p class="handlee my-5"><a style="font-weight: bold;color: rgb(0, 148, 62); font-size: 2em;" href="https://sendowl.com/hub/hanfords-piano-studio" target="_blank">VISIT THE STORE</a>
      </p>        
      </div>
    </div>
    <div class="col-lg-4 px-5 my-auto">
      <img id="photo2" class="" alt="the pianists chain" src="..\images\thePianistsChain.png">
    </div>
   </div> 



</div>


  

  <!--MAP
  <div class="row" id="mapRow">
    <div class="col">
      <div class="mapouter d-flex justify-content-center">
        <div class="gmap_canvas">
          <iframe loading="lazy" width="100%" height="auto" id="gmap_canvas" src="https://maps.google.com/maps?q=boronia&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="auto">
          </iframe>
        </div>
        <style>.mapouter{margin:auto; position:relative;text-align:center;height:auto;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:auto;width:100%;}iframe {width:100%;height:450px;border-radius:10px;}</style>
      </div>
    </div>
  </div>-->

  <!-- ORGANVIDEO 
  <div class="row" id="organvideo">
    <div class="col">
      <div class="responsive-container rounded white-border">
        <iframe loading="lazy" width="100%" height="auto" src="https://www.youtube.com/embed/YAOTemAigM8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <p class="white-text rounded black-bg mt-2">Visit <a class="white-text" target="_blank" href="https://www.anzco.org/10th-anniversary">ANZCO</a> to see other performers and support their work!</p>
    </div>
  </div>-->


</div>


<script>
  // DRAGGABLE WALLET
  var dragItem = document.querySelector(".draggable");
  var container = document.querySelector("#container");

  var active = false;
  var currentX;
  var currentY;
  var initialX;
  var initialY;
  var xOffset = 0;
  var yOffset = 0;

  container.addEventListener("touchstart", dragStart, false);
  container.addEventListener("touchend", dragEnd, false);
  container.addEventListener("touchmove", drag, false);

  container.addEventListener("mousedown", dragStart, false);
  container.addEventListener("mouseup", dragEnd, false);
  container.addEventListener("mousemove", drag, false);

  function dragStart(e) {
    if (e.type === "touchstart") {
      initialX = e.touches[0].clientX - xOffset;
      initialY = e.touches[0].clientY - yOffset;
    } else {
      initialX = e.clientX - xOffset;
      initialY = e.clientY - yOffset;
    }

    if (e.target === dragItem) {
      active = true;
    }
  }

  function dragEnd(e) {
    initialX = currentX;
    initialY = currentY;

    active = false;
  }

  function drag(e) {
    if (active) {
    
      e.preventDefault();
    
      if (e.type === "touchmove") {
        currentX = e.touches[0].clientX - initialX;
        currentY = e.touches[0].clientY - initialY;
      } else {
        currentX = e.clientX - initialX;
        currentY = e.clientY - initialY;
      }

      xOffset = currentX;
      yOffset = currentY;

      setTranslate(currentX, currentY, dragItem);
    }
  }

  function setTranslate(xPos, yPos, el) {
    el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
  }

  // rainbow headings
    window.addEventListener("load", function() {
    let elements = document.getElementsByClassName("rainbowText");
    for (let i = 0; i < elements.length; i++) {
      generateRainbowText(elements[i]);
    }
  })
  
  function generateRainbowText(element) {
    let text = element.innerText;
    element.innerHTML = "";
    for (let i = 0; i < text.length; i++) {
      let charElem = document.createElement("span");
      charElem.style.color = "hsl(" + (360 * i / text.length) + ",100%,50%)";
      charElem.style.fontWeight = "bold";
      charElem.style.textShadow = "0px 4px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), -4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 0px -4px 5px hsl(" + (360 * i / text.length) + ",80%,20%)";
      charElem.innerHTML = text[i];
      element.appendChild(charElem);
    }
  }
  </script>
</div>
    <!-- Footer -->
    <footer class="footer text-center small white-text py-3">
        <p class="m-0 raleway">Thanks for visiting! Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href='/' class="white-text raleway">hanfordlam.com</a>. All rights reserved.</p>
    </footer>
  </div> <!-- close out page container div -->
  <!-- BOOTSTRAP 5 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- TOOLTIPS -->
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
    <script src="../../main-bundled.js"></script>
  </body>
</html>