<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- Bootstrap CSS and Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Langar&family=Handlee&family=Rye&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <title>QUIZ TIME</title>
  </head>
  <body>
    <div class="container-fluid"> 
    <div id="quizContainer70" class="">

<!-- WELCOME -->
<h1 class="display-6 mb-5 bellota text-center" style="background-image: url('../images/scoresby/fire.gif');background-size: cover;"><span class="" style="background-color:rgba(0, 0, 0, 0.7); line-height: 1.5;"><span class="orange-text">7H Listening and Responding to</span><br>Manuel de Falla's <br><i class="orange-text">Ritual Fire Dance</i></span></h1>

<!--Youtube clip-->
<div class="responsive-container"><div id="player"></div></div>

<p class="text-center grey-text my-5">Timestamp links provided for your convenience. There are 10 questions to answer - do your best!<br>If you need help, raise your hand and Mr. Hanford or Ms. Lam will come and assist.</p>

<form style="line-height: 2.5;" class="text-center mb-5" action="/sendQuizToHanford" method="POST">
  <div class="quizQuestionContainer"><p class="white-text my-5"><span style="font-size: 2.5rem;"><span class="green-text">Question 1: </span>(<a href="javascript:void(0);" onclick="setCurrentTime(0)">0:00</a>)</span><br>The piece begins with violas doing low trills that change in volume.<br>What kind of feeling does this give you? <input style="line-height: 1;" class="mx-1" type="text" name="q1" required></input></p>
  <img src="../images/scoresby/q1.png" height="" width="100%100%" alt="Image of score" class="mb-5"></div>

  <div class="quizQuestionContainer2"><p class="white-text my-5"><span style="font-size: 2.5rem;"><span class="green-text">Question 2: </span>(<a href="javascript:void(0);" onclick="setCurrentTime(1)">0:20</a>)</span><br>You can hear an oboe playing the main melody here. Imagine this melody as a person.<br>What kind of character might this person have?<input style="line-height: 1;" class="mx-1" type="text" name="q2" required></input></p>
  <img src="../images/scoresby/q2.png" height="" width="100%" alt="Image of score" class="mb-5"></div>

  <div class="quizQuestionContainer"><p class="white-text my-5"><span style="font-size: 2.5rem;"><span class="green-text">Question 3: </span>(<a href="javascript:void(0);" onclick="setCurrentTime(2)">0:27</a>)</span><br>The clarinets in this section sound similar to the oboe. It is hard to tell apart their sound because both rely on <input style="line-height: 1;" class="mx-1" type="text" name="q3" required></input> to make sound. These are made out of plants and vibrate when air is pushed across it.</p>
  <img src="../images/scoresby/q3.png" height="" width="100%" alt="Image of score" class="mb-5"></div>

  <div class="quizQuestionContainer2"><p class="white-text my-5"><span style="font-size: 2.5rem;"><span class="green-text">Question 4: </span>(<a href="javascript:void(0);" onclick="setCurrentTime(3)">0:34</a>)</span><br>Here, the flutes and violins join in with the melody too. The <input style="line-height: 1;" class="mx-1" type="text" placeholder="sine/square" name="q4a" required></input> wave of the <input style="line-height: 1;" placeholder="flute/violin" class="mx-1" type="text" name="q4b" required></input> has a smooth quality while the <input style="line-height: 1;" placeholder="sine/sawtooth" class="mx-1" type="text" name="q4c" required></input> wave of the <input style="line-height: 1;" placeholder="flute/violin" class="mx-1" type="text" name="q4d" required></input> has a jagged quality.</p>
  <img src="../images/scoresby/q4.png" height="" width="" alt="Image of score" class="mb-5"></div>

  <div class="quizQuestionContainer"><p class="white-text my-5"><span style="font-size: 2.5rem;"><span class="green-text">Question 5: </span>(<a href="javascript:void(0);" onclick="setCurrentTime(4)">0:42</a>)</span><br>The piccolos arrive. Piccolos are little flutes!<br>Describe the sound that this instrument makes. <input style="line-height: 1;" class="mx-1" type="text" name="q5" required></input></p>
  <div class="responsive-container mb-5"><iframe width="560" height="315" src="https://www.youtube.com/embed/EpiOB1iRisc?start=56" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
  </div>

  <div class="quizQuestionContainer2"><p class="white-text my-5"><span style="font-size: 2.5rem;"><span class="green-text">Question 6: </span>(<a href="javascript:void(0);" onclick="setCurrentTime(5)">0:59</a>)</span><br>Watch 6:02-6:39 of the below video. At 0:59 of <i>Ritual Fire Dance</i>, the timpani beats steadily which helps create a marching vibe. Where do you think the timpani is being hit?<br>The timpani is being hit:<br>
    <input style="line-height: 1;" class="mx-1" type="radio" name="q6" id="q6o1" value="near the edge to get a thin clear sound." required></input><label class="pink-text mx-2" for="q6o1">near the edge to get a thin clear sound.</label><br>
    <input style="line-height: 1;" class="mx-1" type="radio" name="q6" id="q6o2" value="in the normal playing area to get thicker tone." required></input><label class="pink-text mx-2" for="q6o2">in the normal playing area to get thicker tone.</label><br>
    <input style="line-height: 1;" class="mx-1" type="radio" name="q6" id="q6o3" value="in the middle to get a less resonant tone." required></input><label class="pink-text mx-2" for="q6o3">in the middle to get a less resonant tone.</label></p>
  <div class="responsive-container mb-5"><iframe width="560" height="315" src="https://www.youtube.com/embed/40k3AAbA7tM?start=362" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></div>
  
  <div class="quizQuestionContainer"><p class="white-text my-5"><span style="font-size: 2.5rem;"><span class="green-text">Question 7: </span>(<a href="javascript:void(0);" onclick="setCurrentTime(6)">1:05</a>)</span><br>Wow! The horns and trumpets from the brass family of instruments arrive suddenly. Their mood is <input style="line-height: 1;" class="mx-1" type="text" name="q7" required></input> because of their loud volume and brass bells.</p>
  <img src="../images/scoresby/q7.png" height="" width="100%" alt="Image of score" class="mb-5"></div>

  <div class="quizQuestionContainer2"><p class="white-text my-5"><span style="font-size: 2.5rem;" class="mt-5"><span class="green-text">Question 8: </span>(<a href="javascript:void(0);" onclick="setCurrentTime(7)">1:12</a>)</span><br>Which phrase could you use to describe the flutes here?<br>
    <input style="line-height: 1;" class="mx-1" type="radio" name="q8" id="q8o1" value="Floating after the brass in a calm and distant manner." required></input><label class="pink-text mx-2" for="q8o1">Floating after the brass in a calm and distant manner.</label><br>
    <input style="line-height: 1;" class="mx-1" type="radio" name="q8" id="q8o2" value="Attacking the brass in a strong and confident manner." required></input><label class="pink-text mx-2" for="q8o2">Attacking the brass in a strong and confident manner.</label><br>
    <input style="line-height: 1;" class="mx-1" type="radio" name="q8" id="q8o3" value="Echoing the brass in a timid and docile manner." required></input><label class="pink-text mx-2" for="q8o3">Echoing the brass in a timid and docile manner.</label></p></div>
  
  <div class="quizQuestionContainer"><p class="white-text my-5"><span style="font-size: 2.5rem;"><span class="green-text">Question 9: </span>(<a href="javascript:void(0);" onclick="setCurrentTime(8)">1:21</a>)</span><br>The story of <i>Ritual Fire Dance</i> : A young gypsy girl’s frenzied dance lures the ghost of her jealous dead lover to be exorcised in flames.<br>Write down whether this part sounds like luring to you and give two reasons why.
    <textarea style="line-height: 1; width:100%; display:block;" class="mx-1 mb-5" rows="5" name="q9" required></textarea></p></div>

  <div class="quizQuestionContainer2"><p class="white-text my-5"><span style="font-size: 2.5rem;"><span class="green-text">Question 10: </span>(<a href="javascript:void(0);" onclick="setCurrentTime(9)">3:30</a>)</span><br>Choose the phrases that describe the final section of the piece.<br>
    <input style="line-height: 1;" class="mx-1" type="checkbox" name="q10" id="q10o1" value="Slowing down and fading away."></input><label class="pink-text mx-2" for="q10o1">Slowing down and fading away.</label><br>
    <input style="line-height: 1;" class="mx-1" type="checkbox" name="q10" id="q10o2" value="Steady and forceful." ></input><label class="pink-text mx-2" for="q10o2">Steady and forceful.</label><br>
    <input style="line-height: 1;" class="mx-1" type="checkbox" name="q10" id="q10o3" value="Short and punchy repetition." ></input><label class="pink-text mx-2" for="q10o3">Short, punchy, and repetitive.</label><br>
    <input style="line-height: 1;" class="mx-1" type="checkbox" name="q10" id="q10o4" value="Exhilarating and approaching finality." ></input><label class="pink-text mx-2" for="q10o4">Exhilarating and approaching finality.</label><br>
    <input style="line-height: 1;" class="mx-1" type="checkbox" name="q10" id="q10o5" value="A single texture of sound." ></input><label class="pink-text mx-2" for="q10o5">A single texture of sound.</label><br>
    <input style="line-height: 1;" class="mx-1" type="checkbox" name="q10" id="q10o6" value="Many layers of textures stacked on top of each other." ></input><label class="pink-text mx-2" for="q10o6">Many layers of textures stacked on top of each other.</label></p>
  <img src="../images/scoresby/q10.png" height="" width="100%" alt="Image of score" class="mb-5"></div>

  <div class="quizQuestionContainer text-center">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input class="mx-3 my-3 text-center" type="text" name="Student" placeholder="Your name" required></input>
    <input class="mx-3 my-3" type="submit"></input>
  </div>
</form>

<!--ADD TIMESTAMPS-->
<script>
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      videoId: 'uDxBSb_BUvc',
    });
  }
  function setCurrentTime(slideNum) {
    var object = [ 0, 20, 27, 34, 42, 59, 65, 72, 81, 210 ];
    player.seekTo(object[slideNum]);
  }
  </script>

</div><!-- close out MAIN div -->
</div> <!-- close out page container div -->
<!-- jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script>$(function () {$('[data-toggle="tooltip"]').tooltip()})</script>
<script src="../../main-bundled.js"></script>
</body>
</html>