<!doctype html>
<html lang="en" style="overflow-x:hidden; background-color: rgb(0, 0, 0);">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

     <!-- HTML Meta Tags -->
<title>Hanford Lam | Piano Teacher</title>
<meta name="description" content="Enrichment program activities across the year.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.hanfordlam.com/schedule">
<meta property="og:type" content="website">
<meta property="og:title" content="Hanford Lam | Piano Teacher">
<meta property="og:description" content="Enrichment program activities across the year.">
<meta property="og:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="hanfordlam.com">
<meta property="twitter:url" content="https://www.hanfordlam.com/schedule">
<meta name="twitter:title" content="Hanford Lam | Piano Teacher">
<meta name="twitter:description" content="Enrichment program activities across the year.">
<meta name="twitter:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Handlee&family=Rye&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <!-- bootstrap5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>Hanford Lam | Piano Teacher</title>
    <!-- CURSOR -->
    <style>HTML,BODY{cursor: url("../../images/cursor.cur"), auto;}</style>

  </head>
  <body class="container-fluid background-transparent">
    

      <div id="container" class="container">

<!-- SCHEDULE -->
<div class="section aboveFalling">
  <div class="py-4 my-4 mb-4 mx-0"><h1 class="px-5 display-2 white-text recursive text-center">2023 Schedule</h1></div>
  <p class="grey-text text-center">Activities updated as the year unfolds. Itinerary will be confirmed via email.</p>
</div>

<table class="table table-valign-middle white-text recursive">
  <thead>
    <tr>
      <th scope="col">When</th>
      <th scope="col">What</th>
      <th scope="col">Where</th>
    </tr>
  </thead>
  <tbody>
    
    <!--<tr>
      <td style="font-size: 2rem;">TERM THREE</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="hover-past">
      <td scope="row">10/7 Mon or 16/7 Sun</td>
      <td>Theory Club (Mon 6.30pm-8pm / Sun 2pm-3.30pm)</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">15/7 Sat [extra]</td>
      <td>African Festival (11am-3pm)</td>
      <td>Queen Victoria Market</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">23/7 Sun</td>
      <td>Excursion: & Juliet (11.30am-5.30pm)</td>
      <td>City</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">31/7 Mon or 6/8 Sun</td>
      <td>Performance Club (Mon 6.30pm-8pm / Sun 2pm-3.30pm)</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">7/8 Mon or 13/8 Sun</td>
      <td>Theory Club (Mon 6.30pm-8pm / Sun 2pm-3.30pm)</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">20/8 Sun</td>
      <td>Excursion: Wynton Marsalis (12.30pm-6pm)</td>
      <td>City</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">21/8 Mon or 27/8 Sun</td>
      <td>Theory Club (Mon 6.30pm-8pm / Sun 2pm-3.30pm)</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">25/8 Fri [extra]</td>
      <td>Excelsis Choir Concert (6.30pm-10.30pm)</td>
      <td>St Pauls Cathedral</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">28/8 Mon or 3/9 Sun</td>
      <td>Performance Club (Mon 6.30pm-8pm / Sun 2pm-3.30pm)</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">4/9 Mon or 10/9 Sun</td>
      <td>Theory Club (Mon 6.30pm-8pm / Sun 2pm-3.30pm)</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">9/9 Sat [extra]</td>
      <td>VMTA Student Concert</td>
      <td>St Peters Box Hill</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">11/9 Mon or 17/9 Sun</td>
      <td>Performance Club (Mon 6.30pm-8pm / Sun 2pm-3.30pm)</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">TBC (9am-5pm)</td>
      <td>Holiday Hangout: TBC</td>
      <td>TBC</td>
    </tr>-->

    <tr>
      <td style="font-size: 2rem;">TERM FOUR</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="hover-past">
      <td scope="row">2 Oct <strong>Mon</strong> 5pm-6pm</td>
      <td>Theory Help + Performance Practice</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">8 Oct <strong>Sun</strong> 11.30am-6pm</td>
      <td>Excursion: Mama Mia + dinner and transfer <a href="https://whatson.melbourne.vic.gov.au/things-to-do/mamma-mia-the-musical" target="_blank">link</a></td>
      <td>Princess Theatre</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">8 Oct <strong>Sun</strong> 6pm-7pm</td>
      <td>Theory Help + Performance Practice</td>
      <td>Studio</td>
    </tr>
    
    <tr class="hover-livestream1">
      <td scope="row">16 Oct <strong>Mon</strong> 5pm-6pm</td>
      <td>Theory Help + Performance Practice</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-livestream1">
      <td scope="row">22 Oct <strong>Sun</strong> 2pm-3pm</td>
      <td>Theory Help + Performance Practice</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-livestream1">
      <td scope="row">22 Oct <strong>Sun</strong> 3pm-4.30pm</td>
      <td>Online concert</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-extra1">
      <td scope="row">30 Oct <strong>Mon</strong> 5pm-6pm</td>
      <td>Theory Help + Performance Practice</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-extra1">
      <td scope="row">5 Nov <strong>Sun</strong> 11am-1pm</td>
      <td>Theory Help + Performance Practice + lunch and transfer</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-extra1">
      <td scope="row">5 Nov <strong>Sun</strong> 1pm-5.30pm</td>
      <td>Excursion: Watercolour Country <a href="https://www.ngv.vic.gov.au/exhibition/watercolour-country/" target="_blank">link</a></td>
      <td>National Gallery of Victoria</td>
    </tr>
    <tr class="hover-livestream1">
      <td scope="row">13 Nov <strong>Mon</strong> 5pm-6pm</td>
      <td>Theory Help + Performance Practice</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-livestream1">
      <td scope="row">19 Nov <strong>Sun</strong> 9.30am-10.30am</td>
      <td>Theory Help + Performance Practice</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-livestream1">
      <td scope="row">19 Nov <strong>Sun</strong> 12.30pm-1.30pm</td>
      <td>Afternoon Concert</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-extra1">
      <td scope="row">27 Nov <strong>Mon</strong> 5pm-6pm</td>
      <td>Theory Help + Performance Practice</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-extra1">
      <td scope="row">3 Dec <strong>Sun</strong> 2.30pm-3.50pm</td>
      <td>Theory Help + Performance Practice + snack and transfer</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-extra1">
      <td scope="row">3 Dec <strong>Sun</strong> 3.50pm-9.30pm</td>
      <td>Excursion: Handel's Messiah <a target="_blank" href="https://whatson.melbourne.vic.gov.au/things-to-do/royal-melbourne-philharmonic-performs-handels-messiah">link</a></td>
      <td>Melbourne Town Hall</td>
    </tr>
    <tr class="hover-livestream1">
      <td scope="row">21 Dec <strong>Thu</strong> 9am-5pm</td>
      <td>Social: Turing Tumble + BBQ + Rollerama</td>
      <td>Studio + Scoresby</td>
    </tr>
  </tbody>
</table>


</div>
    <!-- Footer -->
    <footer class="footer text-center small white-text py-3">
        <p class="m-0 raleway">Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href='/' class="white-text raleway">hanfordlam.com</a>. All rights reserved.</p>
    </footer>
  </div> <!-- close out page container div -->
  <!-- BOOTSTRAP 5 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- TOOLTIPS -->
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
    <script src="../../main-bundled.js"></script>
  </body>
</html>