<!doctype html>
<html lang="en" style="overflow-x:hidden;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

     <!-- HTML Meta Tags -->
<title>Hanford Lam | Piano Teacher</title>
<meta name="description" content="Enrichment program activities across the year.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.hanfordlam.com/schedule">
<meta property="og:type" content="website">
<meta property="og:title" content="Hanford Lam | Piano Teacher">
<meta property="og:description" content="Enrichment program activities across the year.">
<meta property="og:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="hanfordlam.com">
<meta property="twitter:url" content="https://www.hanfordlam.com/schedule">
<meta name="twitter:title" content="Hanford Lam | Piano Teacher">
<meta name="twitter:description" content="Enrichment program activities across the year.">
<meta name="twitter:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Handlee&family=Rye&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <!-- bootstrap5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>Hanford Lam | Piano Teacher</title>
    <!-- CURSOR -->
    <style>HTML,BODY{cursor: url("../../images/cursor.cur"), auto;}</style>

  </head>
  <body class="container-fluid background-transparent">
    

      <div id="container" class="container">

<!-- SCHEDULE -->
<div class="section aboveFalling">
  <div class="py-4 my-4 mb-4 mx-0"><h1 class="px-5 display-2 white-text recursive text-center">2022 Schedule</h1></div>
  <p class="grey-text text-center">Activities updated as the year unfolds. Itinerary will be confirmed via email. Mouseover activities for more details.</p>
</div>

<table class="table table-valign-middle white-text recursive">
  <thead>
    <tr>
      <th scope="col">When</th>
      <th scope="col">What</th>
      <th scope="col">Where</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-size: 2rem;">TERM ONE</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="hover-past">
      <td scope="row">January</td>
      <td>Special: Piano Evaluations</td>
      <td>Your homes</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Thu 17 Feb, 7pm-8pm</td>
      <td>Excursion: Van Gogh Immersive Exhibition</td>
      <td>The Lume</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sun 27 Feb, 2pm-3pm</td>
      <td>Workshop: Performance with Hanford</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sat 5 Mar, 3pm-5pm</td>
      <td>Excursion: Salvation Army and Royal Australian Navy Bands Concert</td>
      <td>Yarra Valley Grammar</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Mon 7 Mar, 6.45pm-9pm</td>
      <td>Livestream: Karin Schaupp & Flinders Quartet Concert</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Fri 18 Mar, 7.30pm-9pm</td>
      <td>Excursion: MSO presents Song and Dance Concert</td>
      <td>Robert Blackwood Hall</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sun 27 Mar, 2pm-3pm</td>
      <td>Workshop: Performance with Hanford</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Wed 13 Apr, 9am-4pm</td>
      <td>Holiday Program: The Human Body</td>
      <td>Studio + Metro Cinemas</td>
    </tr>
    <tr>
      <td style="font-size: 2rem;">TERM TWO</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sat 30 April, 6pm-10pm</td>
      <td>Excursion: MSO presents Toy Story Concert</td>
      <td>Hamer Hall</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sun 1 May, 2pm-3pm</td>
      <td>Workshop: Masterclass with Felicité</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Mon 9 May, 7pm-9pm</td>
      <td>Livestream: Van Diemen's Band Concert</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sun 29 May, 2pm-3pm</td>
      <td>Workshop: Learning the Violin with Felicite</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sat 4 Jun, 7.30pm-9pm</td>
      <td>Performance: VMTA Student Concert</td>
      <td>St Peters Box Hill</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sat 11 Jun, 6.30pm</td>
      <td>Excursion: Ringwood Eisteddfod Spectating</td>
      <td>Federation Estate</td>
    </tr>    
    <tr class="hover-past">
      <td scope="row">Sat 25 Jun, 9am-4pm</td>
      <td>Holiday Program A: Microscope Magnification</td>
      <td>Studio + Metro Cinemas</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sat 25 Jun, 6.45pm-9pm</td>
      <td>Livestream: Paul Grabowsky & Andrea Lam Concert</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Wed 6 Jul, 11am-4pm</td>
      <td>Holiday Program B: Microscope Magnification</td>
      <td>Studio + Metro Cinemas</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Thu 7 Jul, 1pm-2pm</td>
      <td>Performance: Community Concert</td>
      <td>Our Saviours Knox</td>
    </tr>
    <tr>
      <td style="font-size: 2rem;">TERM THREE</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sat 9 Jul, 12.30pm-4.30pm</td>
      <td>Excursion: Spinifex Gum Concert</td>
      <td>Hamer Hall</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sat 16 Jul, 1.30pm-6pm</td>
      <td>Excursion: Picasso + Kaleidoscope Exhibitions</td>
      <td>NGV + Arts Centre Melbourne</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sat 23 Jul, 1.30pm-4pm</td>
      <td>Excursion: Monash Youth Music Festival Spectating</td>
      <td>Huntingtower PAC</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sat 30 Jul, 6pm-8pm</td>
      <td>Workshop: Song Writing with Hanford</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Tue 23 Aug, 7pm-9pm</td>
      <td>Livestream: Z.E.N. Trio Concert</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sun 28 Aug, 2pm-3pm</td>
      <td>Workshop: Learning the Harp with Anke</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sat 10 Sep, 11.30am-2.30pm</td>
      <td>Performance: VMTA Student Concert and Masterclass</td>
      <td>St Peters Box Hill</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Wed 21 Sep, 9am-4pm</td>
      <td>Holiday Program: Discovery of Systems</td>
      <td>Studio + Eastland</td>
    </tr>
    <tr>
      <td style="font-size: 2rem;">TERM FOUR</td>
      <td></td>
      <td></td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Tue 27 Sep, 7pm-9pm</td>
      <td>Livestream: Avi Avital & Giovanni Sollima</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Thu 29 Sep, 6.30pm-8pm</td>
      <td>Excursion: Michael Johnson Harp Concert</td>
      <td>Melbourne Recital Centre</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sat 1 Oct, 2pm-3.30pm</td>
      <td>Performance: Performance Day with Julie Haskell</td>
      <td>St Peters Box Hill</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sun 9 Oct, 1.30pm-5.55pm</td>
      <td>Excursion: Imaginaria Exhibition</td>
      <td>Docklands</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sun 6 Nov, 2pm-3pm</td>
      <td>Workshop: Performance with Hanford</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sat 19 Nov, 12.50pm-5.35pm</td>
      <td>Excursion: Joseph and the Amazing Technicolor Dreamcoat Musical</td>
      <td>Regent Theatre</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Mon 21 Nov, 7pm-9pm</td>
      <td>Livestream: Signum Saxophone Quartet & Kristian Winther</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sun 27 Nov, 2pm-3pm</td>
      <td>Workshop: Performance with Hanford</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-past">
      <td scope="row">Sat 3 Dec, 3.30pm-9pm</td>
      <td>Holiday Program: Spintronics and Astronomy</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-livestream">
      <td scope="row">Wed 7 Dec, 7pm-9pm</td>
      <td>Livestream: A Winter's Journey</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-performance">
      <td scope="row">Sun 11 Dec, 6.30pm-8pm</td>
      <td>Performance: Student Showcase</td>
      <td>Studio</td>
    </tr>
    
  </tbody>
</table>


</div>
    <!-- Footer -->
    <footer class="footer text-center small white-text py-3">
        <p class="m-0 raleway">Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href='/' class="white-text raleway">hanfordlam.com</a>. All rights reserved.</p>
    </footer>
  </div> <!-- close out page container div -->
  <!-- BOOTSTRAP 5 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- TOOLTIPS -->
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
    <script src="../../main-bundled.js"></script>
  </body>
</html>