<!doctype html>
<html lang="en" style="overflow-x:hidden;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Handlee&family=Rye&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <!-- bootstrap5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>Hanford Lam | Piano Teacher</title>
    <!-- CURSOR -->
    <style>HTML,BODY{cursor: url("../../images/cursor.cur"), auto;}</style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S7KLNXVSDD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-S7KLNXVSDD');
    </script>
  </head>
  <body class="container-fluid background-transparent">
    

      <div id="container" class="container">

<!-- SCHEDULE -->
<div class="section aboveFalling">
  <div class="py-4 my-4 mb-4 mx-0"><h1 class="px-5 display-2 white-text recursive text-center">2022 Schedule</h1></div>
  <p class="grey-text text-center">Activities updated as the year unfolds. Dates and times will be confirmed via email with additional information provided as events approach.</p>
</div>

<table class="table table-valign-middle white-text recursive">
  <thead>
    <tr>
      <th scope="col">When</th>
      <th scope="col">What</th>
      <th scope="col">Where</th>
    </tr>
  </thead>
  <tbody>
    <tr class="hover-past">
      <td scope="row">January</td>
      <td>Hanford's Home Visits: Piano Evaluations</td>
      <td>Your homes</td>
    </tr>
    <tr class="hover-concert">
      <td scope="row">Thu 17 Feb, 6.30pm-7.30pm</td>
      <td>Live Concert: Duo Chamber Melange presents Spring Bouquet</td>
      <td>Melbourne Recital Centre</td>
    </tr>
    <tr class="hover-workshop">
      <td scope="row">Sun 27 Feb, 2pm-3pm</td>
      <td>Performance Workshop with Hanford</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-concert">
      <td scope="row">Sat 5 Mar, 3pm-4pm</td>
      <td>Live Concert: Salvation Army and Royal Australian Navy Bands</td>
      <td>Yarra Valley Grammar</td>
    </tr>
    <tr class="hover-concert">
      <td scope="row">Mon 7 Mar, 6.45pm-8.15pm</td>
      <td>Livestream Concert: Karin Schaupp & Flinders Quartet</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-concert">
      <td scope="row">Fri 18 Mar, 7.30pm-9pm</td>
      <td>Live Concert: MSO presents Song and Dance</td>
      <td>Robert Blackwood Hall</td>
    </tr>
    <tr class="hover-workshop">
      <td scope="row">Sun 27 Mar, 2pm-3pm</td>
      <td>Performance Workshop with Hanford</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-general">
      <td scope="row">Wed 13 Apr, 9am-4pm</td>
      <td>Musical Movement and the Human Body: Mini-Doctors Day</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-workshop">
      <td scope="row">Sun 1 May, 2pm-3pm</td>
      <td>Student Masterclass with Felicité Heine</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-concert">
      <td scope="row">Mon 9 May, 6.45pm-8.15pm</td>
      <td>Livestream Concert: Van Diemen's Band</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-workshop">
      <td scope="row">Sun 29 May, 2pm-3pm</td>
      <td>Introduction to Violins with Felicité Heine</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-general">
      <td scope="row">10 Fri - 13 Mon Jun</td>
      <td>Ringwood Eisteddfod</td>
      <td>Ringwood</td>
    </tr>
    <tr class="hover-concert">
      <td scope="row">Sat 25 Jun, 6.30pm-8.15pm</td>
      <td>Livestream Concert: Paul Grabowsky & Andrea Lam</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-general">
      <td scope="row">Wed 29 Jun, 9am-4pm</td>
      <td>Musical Design and Mechanical Logic: Mini-Engineers Lab</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-general">
      <td scope="row">Sat 2 & Sun 3 Jul, TBC</td>
      <td>Making Djembes with Mady Keita</td>
      <td>Bayswater</td>
    </tr>
    <tr class="hover-general">
      <td scope="row">Thu 7 Jul, 1pm-2pm</td>
      <td>Students' Community Performance</td>
      <td>Our Saviours Knox</td>
    </tr>
    <tr class="hover-concert">
      <td scope="row">TBC</td>
      <td>Livestream Concert: A Winter's Journey</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-workshop">
      <td scope="row">Sun 31 Jul, 2pm-3pm</td>
      <td>Student Performance Workshop</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-general">
      <td scope="row">Jul/Aug (TBC)</td>
      <td>Monash Youth Music Festival</td>
      <td>TBC</td>
    </tr>
    <tr class="hover-concert">
      <td scope="row">Tue 23 Aug, 6.45pm-8.15pm</td>
      <td>Livestream Concert: Z.E.N. Trio</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-workshop">
      <td scope="row">Sun 28 Aug, 2pm-3pm</td>
      <td>Student Performance Workshop</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-general">
      <td scope="row">Wed 21 Sep, 9am-4pm</td>
      <td>Musical Style and Biodiversity: Mini-Biologists Adventure</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-concert">
      <td scope="row">Tue 27 Sep, 6.45pm-8.15pm</td>
      <td>Livestream Concert: Avi Avital & Giovanni Sollima</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-workshop">
      <td scope="row">Sun 30 Oct, 2pm-3pm</td>
      <td>Student Performance Workshop</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-concert">
      <td scope="row">Mon 21 Nov, 6.45pm-8.15pm</td>
      <td>Livestream Concert: Signum Saxophone Quartet & Kristian Winther</td>
      <td>Studio</td>
    </tr>
    <tr class="hover-general">
      <td scope="row">Sun 27 Nov, 6.30pm-8pm</td>
      <td>Student Showcase</td>
      <td>Studio</td>
    </tr>
  </tbody>
</table>


</div>
    <!-- Footer -->
    <footer class="footer text-center small white-text py-3">
        <p class="m-0 raleway">Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href='/' class="white-text raleway">hanfordlam.com</a>. All rights reserved.</p>
    </footer>
  </div> <!-- close out page container div -->
  <!-- BOOTSTRAP 5 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- TOOLTIPS -->
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
    <script src="../../main-bundled.js"></script>
  </body>
</html>