<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Year 10 IT Projects</title>

  <link rel="stylesheet" href="scoresbyStyles.css">

</head>

<body>
  <h1>Links to everyone's group projects</h1>
  <ul>
    <li>Group 1 (Seth, Hunter, & Nicholas M.): <a href="">Impact of Gambling</a></li>
    <li>Group 2 (Eli, Josh, & Tyson): <a href="">Video Games Industry</a></li>
    <li>Group 3 (Riley, Nicholas T., & Joelle): <a href="">Electric Cars</a></li>
    <li>Group 4 (Rani, Blake, Jordan, & Jeremy): <a href="">Space Travel</a></li>
    <li>Group 5 (Zach, James, Maddy, & Connor): <a href="">Solar System</a></li>
    <li>Group 6 (Kaileb, & Lori): <a href="">Autonomous Vehicles</a></li>
    <li>Group 7 (): <a href=""></a></li>
  </ul>
</body>
</html>