<!doctype html>
<html lang="en" id="home-html">
  <head>
    <!-- HTML Meta Tags -->
<title>Hanford Lam | Piano Studio</title>
<meta name="description" content="Learn piano by yourself at home with online courses!">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.hanfordlam.com/shop">
<meta property="og:type" content="website">
<meta property="og:title" content="Hanford Lam | Piano Studio">
<meta property="og:description" content="Learn piano by yourself at home with online courses!">
<meta property="og:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="hanfordlam.com">
<meta property="twitter:url" content="https://www.hanfordlam.com/shop">
<meta name="twitter:title" content="Hanford Lam | Piano Studio">
<meta name="twitter:description" content="Learn piano by yourself at home with online courses!">
<meta name="twitter:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Handlee&family=Rye&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <title>Hanford Lam | Piano Studio</title>
    <!-- CURSOR -->
    <style>HTML,BODY{cursor: url("../../images/cursor.cur"), auto;}</style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S7KLNXVSDD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-S7KLNXVSDD');
    </script>
  </head>
  <body class="background-transparent w-100">
    <!-- NAVBAR -->
    <nav id="myNav" class="rounded recursive row align-items-center text-center w-auto py-2">
      <div class="col-lg-7">
        <a id="navIcon" class="my-2 d-block" href='/'>Hanford Lam | Piano Studio</a>
      </div>
      <div class="col-lg-5">
        <a id="homeTab" class="mx-4 my-2 d-inline-block navLink" href="/">HOME</a>
        <button class="mx-4 my-2 d-inline-block btn btn-sm btn-info" onclick="location.href='/#contact'">CONTACT</button>
        <a id="reportsTab" class="mx-4 my-2 d-inline-block navLink" href="/reports">PORTAL</a>
      </div>
    </nav>
    <div class="container-fluid background-transparent">

      <!-- DYNAMIC NAVBAR AND TITLE -->
      <script>
        let currentPath = window.location.pathname
        if (currentPath == '/') {
          document.getElementById("homeTab").classList.add("orange-text")
          document.title = "Hanford Lam"
        } else if (currentPath == '/practice' || currentPath == '/missions' || currentPath == '/leaderboard' || currentPath == '/parents' || currentPath == '/reports') {
          document.getElementById("reportsTab").classList.add("orange-text")
          document.title = "Portal - Hanford Lam"
        }
      </script>
    <div id="container" class="container">

<!--removed recaptcha v3 23 nov 2021-->

<!-- WELCOME -->
<div id="biographyContainer" class="">
  
<!--PORTAL TUTORIALS-->
<div id="shop-blurb" class="text-center home-display p-5 m-5">
  <h1 class="black-text mb-5">AMEB Grade One Theory of Music</h1>
  <h2 class="orange-text" style="">Enrol in this 18-week group music theory course, designed specifically to support busy teachers and their students aged 8+.</h2>  
  <h2 class="mt-5" style="color:blue">STRUCTURE</h2>
  <p>This program guides students through the Grade 1 AMEB Music Theory syllabus over 18 weeks, with sessions held on <strong>Saturdays</strong> from 8 am to 9 am in Boronia. During each session, students will explore foundational concepts like clef drawing, rhythm, note values, and more in mini lectures from <strong>8 am to 8:30 am</strong>. They will then apply their knowledge with hands-on exercises and receive personalised guidance during work completion time from <strong>8:30 am to 9 am</strong>.</p>
  
  <h2 style="color:blue">CONTENT</h2>
  <p><strong>Week 1</strong> <br>Saturday April 20 8am-9am<br>Basic Elements of Music & Clef Drawing</p>
  <p><strong>Week 2</strong> <br>Saturday April 20 8am-9am<br>Rhythm & Note Values</p>
  <p><strong>Week 3</strong> <br>Saturday April 20 8am-9am<br>Note Naming on Staves</p>
  <p><strong>Week 4</strong> <br>Saturday April 20 8am-9am<br>Accidentals: Sharps, Flats, Naturals</p>
  <p><strong>Week 5</strong> <br>Saturday April 20 8am-9am<br>C Major Scale & Scale Degrees</p>
  <p><strong>Week 6</strong> <br>Saturday April 20 8am-9am<br>G Major Scale, Key Signatures, Tones and Semitones</p>
  <p><strong>Week 7</strong> <br>Saturday April 20 8am-9am<br>F Major Scale & Tetrachords</p>
<p><strong>Week 8</strong> <br>Saturday April 20 8am-9am<br>Time Signatures: Simple Quadruple, Triple, Duple Time</p>
<p><strong>Week 9</strong> <br>Saturday April 20 8am-9am<br>Diatonic Intervals of Major Scale</p>
<p><strong>Week 10</strong> <br>Saturday April 20 8am-9am<br>Chords & Building Tonic Triad Chords</p>
<p><strong>Week 11</strong> <br>Saturday April 20 8am-9am<br>Understanding Rests & Anacrusis</p>
<p><strong>Week 12</strong> <br>Saturday April 20 8am-9am<br>Scale Degrees in Diatonic Melodies</p>
<p><strong>Week 13</strong> <br>Saturday April 20 8am-9am<br>Transposition of Melodies (C Major, F Major, G Major)</p>
<p><strong>Week 14</strong> <br>Saturday April 20 8am-9am<br>Common Musical Terminology</p>
<p><strong>Week 15</strong> <br>Saturday April 20 8am-9am<br>📚 Practice Exam</p>
<p><strong>Week 16</strong> <br>Saturday April 20 8am-9am<br>🔁 Revision & Clarification of Concepts</p>
<p><strong>Week 17</strong> <br>Saturday April 20 8am-9am<br>🔁 Revision & Clarification of Concepts</p>
<p><strong>Week 18</strong> <br>Saturday April 20 8am-9am<br>📝 Final Exam</p>

<h2 style="color:blue">WHAT YOU'LL GET</h2>
<p><strong>AMEB Workbook</strong><br>Clear and comprehensive explanations of core theory concepts.</p>
<p><strong>AMEB Exam Enrolment</strong><br>Summative testing for official AMEB certification.</p>
<p><strong>Expert Live Guidance</strong><br>Unpack the workbook lessons with an experienced music teacher.</p>
<p><strong>Video Recorded Sessions</strong><br>Access video recordings for review during the week.</p>

<h2 style="color:blue">TOTAL COST</h2>
<p style="font-size: 4rem;"><strong>$650</strong></p>



<div class="pb-3">
<h1 class="mb-5">Help yourself and your students succeed!</h1>
</div>

<div class="my-5 py-3">
  <a class="btn-large btn-danger p-5 mt-5 rounded recursive" style="font-size: 2rem; text-decoration: none;" href="mailto:hanfordlam2012@hotmail.com">Register via email now</a>
</div>

  
  
</div>

<script>
  
  // rainbow headings
    window.addEventListener("load", function() {
    let elements = document.getElementsByClassName("rainbowText");
    for (let i = 0; i < elements.length; i++) {
      generateRainbowText(elements[i]);
    }
  })
  
  function generateRainbowText(element) {
    let text = element.innerText;
    element.innerHTML = "";
    for (let i = 0; i < text.length; i++) {
      let charElem = document.createElement("span");
      charElem.style.color = "hsl(" + (360 * i / text.length) + ",100%,50%)";
      charElem.style.fontWeight = "bold";
      charElem.style.textShadow = "0px 4px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), -4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 0px -4px 5px hsl(" + (360 * i / text.length) + ",80%,20%)";
      charElem.innerHTML = text[i];
      element.appendChild(charElem);
    }
  }
  </script>
</div>
    <!-- Footer -->
    <footer class="footer text-center small white-text py-3">
        <p class="m-0 raleway">Thanks for visiting! Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href='/' class="white-text raleway">hanfordlam.com</a>. All rights reserved.</p>
    </footer>
  </div> <!-- close out page container div -->
  <!-- BOOTSTRAP 5 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- TOOLTIPS -->
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
    <script src="../../main-bundled.js"></script>
  </body>
</html>