<!doctype html>
<html lang="en" id="home-html">
  <head>
    <!-- HTML Meta Tags -->
<title>Hanford Lam | Piano Studio</title>
<meta name="description" content="Learn piano by yourself at home with online courses!">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.hanfordlam.com/shop">
<meta property="og:type" content="website">
<meta property="og:title" content="Hanford Lam | Piano Studio">
<meta property="og:description" content="Learn piano by yourself at home with online courses!">
<meta property="og:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="hanfordlam.com">
<meta property="twitter:url" content="https://www.hanfordlam.com/shop">
<meta name="twitter:title" content="Hanford Lam | Piano Studio">
<meta name="twitter:description" content="Learn piano by yourself at home with online courses!">
<meta name="twitter:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Handlee&family=Rye&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <title>Hanford Lam | Piano Studio</title>
    <!-- CURSOR -->
    <style>HTML,BODY{cursor: url("../../images/cursor.cur"), auto;}</style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S7KLNXVSDD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-S7KLNXVSDD');
    </script>
  </head>
  <body class="background-transparent w-100">
    <!-- NAVBAR -->
    <nav id="myNav" class="rounded recursive row align-items-center text-center w-auto py-2">
      <div class="col-lg-7">
        <a id="navIcon" class="my-2 d-block" href='/'>Hanford Lam | Piano Studio</a>
      </div>
      <div class="col-lg-5">
        <a id="homeTab" class="mx-4 my-2 d-inline-block navLink" href="/">HOME</a>
        <button class="mx-4 my-2 d-inline-block btn btn-sm btn-info" onclick="location.href='/#contact'">CONTACT</button>
        <a id="reportsTab" class="mx-4 my-2 d-inline-block navLink" href="/reports">PORTAL</a>
      </div>
    </nav>
    <div class="container-fluid background-transparent">

      <!-- DYNAMIC NAVBAR AND TITLE -->
      <script>
        let currentPath = window.location.pathname
        if (currentPath == '/') {
          document.getElementById("homeTab").classList.add("orange-text")
          document.title = "Hanford Lam"
        } else if (currentPath == '/practice' || currentPath == '/missions' || currentPath == '/leaderboard' || currentPath == '/parents' || currentPath == '/reports') {
          document.getElementById("reportsTab").classList.add("orange-text")
          document.title = "Portal - Hanford Lam"
        }
      </script>
    <div id="container" class="container">

<!--removed recaptcha v3 23 nov 2021-->

<!-- WELCOME -->
<div id="biographyContainer" class="">
  
<!--PORTAL TUTORIALS-->
<div id="shop-blurb" class="text-center home-display p-5 m-5">
  <h1 class="black-text mb-5"><strong>Calling all Parents and Teachers</strong></h1>
  <h1 class="dark-orange-text mb-5">Guaranteed Success in AMEB Theory of Music Exams</h1>
  <h2 class="black-text" style="">Enrol in Our AMEB Theory Courses for Exam Excellence</h2>  
  
  <h2 class="mt-5 pink-text" style="">Say Goodbye to Music Theory Struggles</h2>
  <h2 class="mt-5 pink-text" style="">Empower Your Child's Musical Journey</h2>
  <h2 class="mt-5 pink-text" style="">Transform Your Student's Music Experience</h2>
  <h2 class="mt-5 pink-text" style="">Unlock Your Child's Musical Potential</h2>
  <h2 class="mt-5 pink-text" style="">Make Music Theory a Joy</h2>
  <h2 class="mt-5 pink-text" style="">Empower Busy Teachers</h2>
  
  
  <h3 class="mt-5">Are you tired of struggling to teach your child or students music theory, only to see them feel overwhelmed and frustrated?</h3>
  <h3 class="mt-5">Have you tried countless methods, from online tutorials to complicated textbooks, only to find that they still struggle to grasp essential concepts?</h3>
  <h3 class="mt-5">It's time to break free from these ineffective approaches and discover a proven solution.</h3>
  <h3 class="mt-5">Traditional methods often fail because they lack interactive engagement and personalised guidance. Online tutorials can be confusing, textbooks may be too complex, and self-study often leads to misunderstandings.</h3>
  <h3 class="mt-5">Our music theory course addresses these shortcomings by providing interactive tutorials, personalised feedback, and clear, concise lessons. I've seen students who were once confused and discouraged become confident and successful in their theory knowledge. No more endless hours of confusion or fruitless attempts to simplify complex topics.</h3>
  <h3 class="mt-5">Enrol today and experience the transformative power of our approach. Say goodbye to past failures and hello to a future filled with musical excellence!</h3>

  <h2 class="mt-5 orange-text" style="" >About your teacher</h2>
  <p class="p-0 m-0">Hanford has been teaching the AMEB syllabus of Theory of Music since 2012 and has witnessed the transformation of students when they suddenly understand a musical concept that had long eluded them. All they needed was someone to listen to and understand their confusion and guide them towards clarity through metaphors, diagrams, and practical explanations. As a music undergraduate, Hanford has received theory instruction from some of the best teachers at the Sir Zelman Cowen School of Music, Monash University, while his pedagogical training from his Masters study in Teaching has equipped him with powerful strategies for helping students learn, leveraging the science of learning and improvement.</p>
 <!--<p class="p-0 m-0">Each of these courses guides students through the AMEB Music Theory syllabus (Grades 3 & 4) over 14 sessions with classes held on <strong>Saturdays</strong>. During each session, students will explore foundational concepts via a <strong>45-minute interactive tutorial</strong> which includes guided <strong>hands-on workbook exercises</strong>. (Students are expected to <strong>complete leftover exercises</strong> in their own time as homework.) Then, in the remaining session time, students compare their previous week's homework with the AMEB provided answers and receive <strong>explanatory feedback</strong> for any discrepancies. Reading through the workbook lessons <strong>before attending</strong> each session is highly recommended as this means that session lectures are not the first exposures to new content. After the final tutorial, students complete the official AMEB Online Theory of Music Exam for <strong>certification</strong>.</p>--> 
  
  <table class="mt-5 table table-valign-middle black-text recursive">
    <thead class="purple-text">
      <tr>
        <th scope="col">Features</th>
        <th scope="col">Benefits</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Interactive tutorials</td>
        <td>Engaging learning experience for better understanding</td>
      </tr>
      <tr>
        <td>Expert guidance</td>
        <td>Clear explanations and personalized feedback</td>
      </tr>
      <tr>
        <td>Comprehensive syllabus coverage</td>
        <td>Mastery of essential theory concepts</td>
      </tr>
      <tr>
        <td>AMEB exam preparation</td>
        <td>Confidence and readiness for the exam</td>
      </tr>
      <tr>
        <td>Online and in-person options</td>
        <td>Flexibility to choose a learning format that suits your schedule</td>
      </tr>
      <tr>
        <td>Metaphors, diagrams, explanations</td>
        <td>Simplified learning of complex concepts</td>
      </tr>
      <tr>
        <td>Pedagogical strategies</td>
        <td>Effective teaching methods based on learning science</td>
      </tr>
      <tr>
        <td>Transformation of understanding</td>
        <td>Overcoming confusion and achieving clarity</td>
      </tr>
      <tr>
        <td>Experienced instructor</td>
        <td>Guidance from a seasoned professional</td>
      </tr>
      <tr>
        <td>Proven track record of success</td>
        <td>Assurance of passing the AMEB Theory of Music Exam</td>
      </tr>
      </tbody>
  </table>

  <p class="lead">
    <span class="red-text">Discover the transformative teaching style</span> that has led to a remarkable <span class="red-text">95% exam pass rate</span> in our music theory course. Hanford, our experienced instructor, has been teaching the AMEB syllabus since 2012, with a deep understanding of how to simplify complex concepts and guide students towards exam success.<hr style="border-color: black;" class="mt-5">Here's what some of our students and parents have to say about Hanford's teaching:
  </p>
  <figure class="text-center">
    <blockquote class="blockquote">
      <mark>"I never thought I could understand music theory until I had Hanford as my teacher. His explanations were so clear, and the interactive sessions made learning enjoyable!"</mark>
    </blockquote>
    <figcaption class="blockquote-footer">
      Emily, <cite title="Source Title">Student</cite>
    </figcaption>
  </figure>

  <figure class="text-center">
    <blockquote class="blockquote">
      <mark>"Hanford's teaching methods are simply outstanding. My child's confidence grew leaps and bounds, and they passed their exam with flying colors. Thank you for such an amazing experience!"</mark>
    </blockquote>
    <figcaption class="blockquote-footer">
      Shen, <cite title="Source Title">Parent</cite>
    </figcaption>
  </figure>

  <h2 class="pt-5 mt-5 black-text"><span class="dark-orange-text"><strong>Introducing our Exclusive Term 2 Offer:</strong></span></h2>
  <h3 class="mt-4">Enrol in our AMEB Theory of Music Course and unlock a treasure trove of benefits that not only solve your child's challenges but also guarantee their success, giving you the ultimate peace of mind.</h3>
  <h4 class="mt-4 poppins"><span class="pink-text">Live Interactive Tutorials:</span> Experience engaging live tutorials where your child can interact directly with Hanford and peers, enhancing their learning experience and clarifying any doubts in real-time. <span style="color: blue;">($1600 value)</span></h4>
  <h4 class="mt-4 poppins"><span class="pink-text">Personalised Corrective Feedback:</span> No more guessing games. Our personalised feedback ensures your child's learning journey is tailored to their needs, pinpointing areas for improvement and guiding them towards exam success. <span style="color: blue;">($800 value)</span></h4>
<h4 class="mt-4 poppins"><span class="pink-text">Weekly Access to Tutorial Recordings:</span> Missed a session? No worries! Access recordings of our interactive tutorials each week, empowering your child to catch up on missed topics and reinforce their understanding at their own pace. <span style="color: blue;">($500 value)</span></h4>
<h4 class="mt-4 poppins"><span class="pink-text">Free Group Study Sessions:</span> Say goodbye to the stress of finding time for extra study sessions. Our extra study sessions provide a dedicated time for learning, collaboration with peers, and expert guidance from Hanford himself, all at no extra cost. <span style="color: blue;">($1200 value)</span></h4>
<h4 class="mt-4 poppins"><span class="pink-text">Free Exam Enrolment:</span> Secure your child's spot in the exam without extra fees, ensuring they're fully prepared and confident on exam day, saving you time and money. <span style="color: blue;">($95 value)</span></h4>
<h4 class="mt-4 poppins"><span class="pink-text">Free AMEB Theory of Music Workbook:</span> Forget the hassle of sourcing study materials. This comprehensive workbook provides extra practice and reinforcement of key concepts, enhancing your child's learning experience. <span style="color: blue;">($36 value)</span></h4>

<h2 class="mt-5 mb-4" style="color:blue">TOTAL: $4231</h2>
<p  class="p-0 m-0" style="font-size: 4rem;">Exclusive Term 2 offer:<br><strong class="red-text">$1750</strong></p>
<p  class="p-0 m-0" style="font-size: 3rem;">**Limited to 10 spots**</p>

<div class="pb-0 pt-5">
  <h1 class="mb-5">Success Guarantee</h1>
  <p style="font-size: 2rem; color:brown">We're so confident in our course that we guarantee your child's success. If they don't pass the exam after following our study plan, you get a full refund, no questions asked.</p>
  </div>

  <div class="my-5 py-3">
    <p style="font-size: 2rem; color:brown">To claim this enrolment offer, simply email your child or student's age and AMEB Theory Grade. Tutorials begin on Saturday April 27.</p>
    <a class="d-block btn-large btn-danger p-5 mt-5 rounded recursive" style="font-size: 2rem; text-decoration: none;" href="mailto:hanfordlam2012@hotmail.com">ENROL NOW</a>
    <p style="font-size: 1.5rem; color: blueviolet;">PS: Time is ticking! Don't let this opportunity slip away and regret not giving your child the best shot at acing their AMEB Theory of Music Exam. Enrol now and set them up for musical success with this exclusive Term 2 offer!</p>
  </div>

  <!--<h2 class="mt-5 mb-3 pt-5 black-text">AMEB Grade 3</h2>
  <p class="p-0 mx-0 mt-3"><strong>Session 1</strong> <br><i>Saturday 27 April 9.45am-11am</i><br>Tetrachords, Circle of Fifths, Major Scales</p>
  <p class="p-0 mx-0 mt-3"><strong>Session 2</strong> <br><i>Saturday 4 May 9.45am-11am</i><br>Harmonic Minor Scales<br>Technical Names for Scale Degrees</p>
  <p class="p-0 mx-0 mt-3"><strong style="color:red">BREAK</strong></p>
  <p class="p-0 mx-0 mt-3"><strong>Session 3</strong> <br><i>Saturday 25 May 9.45am-11am</i><br>Major and Minor Intervals<br>Primary and Secondary Triads and Inversions</p>
  <p class="p-0 mx-0 mt-3"><strong>Session 4</strong> <br><i>Saturday 1 June 9.45am-11am</span></i><br>Four-Part Vocal Style</p>
  <p class="p-0 mx-0 mt-3"><strong>Session 5</strong> <br><i>Saturday 8 June 9.45am-11am</i><br>Perfect Cadences in Four-Part Vocal Style</p>
  <p class="p-0 mx-0 mt-3"><strong>Session 6</strong> <br><i>Saturday 15 June 9.45am-11am</i><br>Plagal Cadences in Four-Part Vocal Style</p>
  <p class="p-0 mx-0 mt-3"><strong>Session 7</strong> <br><i>Saturday 22 June 9.45am-11am</i><br>Consecutive and Hidden Fifths and Octaves<br>Time Signatures, Note Values, Rests</p>
<p class="p-0 mx-0 mt-3"><strong>Session 8</strong> <br><i>Saturday 29 June 9.45am-11am</i><br>Transposition</p>
<p class="p-0 mx-0 mt-3"><strong style="color:red">BREAK</strong></p>
<p class="p-0 mx-0 mt-3"><strong>Session 9</strong> <br><i>Saturday 20 July 9.45am-11am</i><br>Rhythmic Patterns for Couplets<br>Sequences</p>
<p class="p-0 mx-0 mt-3"><strong>Session 10</strong> <br><i>Saturday 27 July 9.45am-11am</i><br>Writing melodies</p>
<p class="p-0 mx-0 mt-3"><strong>Session 11</strong> <br><i>Saturday 3 August 9.45am-11am</i><br>Binary, Ternary, Rondo Forms<br>Terminology</p>
<p class="p-0 mx-0 mt-3"><strong>Session 12</strong> <br><i>Saturday 10 August <strong>*9am-11am*</strong></i><br>游닄 Practice Exam</p>
<p class="p-0 mx-0 mt-3"><strong>Session 13</strong> <br><i>Saturday 17 August 9.45am-11am</i><br>游대 Revision & Clarification of Concepts</p>
<p class="p-0 mx-0 mt-3"><strong>Session 14</strong> <br><i>Saturday 24 August 9.45am-11am</i><br>游대 Revision & Clarification of Concepts</p>
<p class="p-0 mx-0 mt-3 mb-5"><strong>游닇 Online Final Exam</strong> <br><i>After Saturday 24 August <strong>*flexible time*</strong></i><br>At home or 10am-3pm in-studio</p>
  
  <h2 class="mt-5 mb-3 pt-5 black-text">AMEB Grade 4</h2>
  <p class="p-0 mx-0 mt-3"><strong>Session 1</strong> <br><i>Saturday 27 April 11.15am-12.45pm</i><br>Tetrachords, Circle of Fifths, Major Scales</p>
  <p class="p-0 mx-0 mt-3"><strong>Session 2</strong> <br><i>Saturday 4 May April 11.15am-12.45pm</i><br>Harmonic Minor Scales<br>Double Sharps and Flats<br>Diatonic and Chromatic Semitones</p>
  <p class="p-0 mx-0 mt-3"><strong style="color:red">BREAK</strong></p>
  <p class="p-0 mx-0 mt-3"><strong>Session 3</strong> <br><i>Saturday 25 May 11.15am-12.45pm</i><br>Major and Minor Intervals and Inversions<br>Modulation to Dominant and Relative Keys</p>
  <p class="p-0 mx-0 mt-3"><strong>Session 4</strong> <br><i>Saturday 1 June 11.15am-12.45pm</i><br>Syncopation and Hemiola<br>Time Signatures<br>Four-Part Vocal Style Revision</p>
  <p class="p-0 mx-0 mt-3"><strong>Session 5</strong> <br><i>Saturday 8 June 11.15am-12.45pm</i><br>Four-Part Writing: Chords II and VI, Labelling Systems, Doubling</p>
  <p class="p-0 mx-0 mt-3"><strong>Session 6</strong> <br><i>Saturday 15 June 11.15am-12.45pm</i><br>Four-Part Writing: Perfect, Plagal, Imperfect, Interrupted Cadences</p>
  <p class="p-0 mx-0 mt-3"><strong>Session 7</strong> <br><i>Saturday 22 June 11.15am-12.45pm</i><br>Harmonising Melodies: Part 1</p>
<p class="p-0 mx-0 mt-3"><strong>Session 8</strong> <br><i>Saturday 29 June 11.15am-12.45pm</i><br>Harmonising Melodies: Part 2</p>
<p class="p-0 mx-0 mt-3"><strong style="color:red">BREAK</strong></p>
<p class="p-0 mx-0 mt-3"><strong>Session 9</strong> <br><i>Saturday 20 July 11.15am-12.45pm</i><br>Melody Writing</p>
<p class="p-0 mx-0 mt-3"><strong>Session 10</strong> <br><i>Saturday 27 July 11.15am-12.45pm</i><br>Transposition</p>
<p class="p-0 mx-0 mt-3"><strong>Session 11</strong> <br><i>Saturday 3 August 11.15am-12.45pm</i><br>Baroque Dances</p>
<p class="p-0 mx-0 mt-3"><strong>Session 12</strong> <br><i>Saturday 10 August 11.15am-12.45pm</i><br>Stringed Instruments<br>Terminology</p>
<p class="p-0 mx-0 mt-3"><strong>Session 13</strong> <br><i>Saturday 17 August <strong>*11.15am-2.15pm*</strong></i><br>游닄 Practice Exam</p>
<p class="p-0 mx-0 mt-3"><strong>Session 14</strong> <br><i>Saturday 24 August 11.15am-12.45pm</i><br>游대 Revision & Clarification of Concepts</p>
<p class="p-0 mx-0 mt-3"><strong>游닇 Online Final Exam</strong> <br><i>After Saturday 24 August <strong>*flexible time*</strong></i><br>At home or 10am-3pm in-studio</p>-->
  
<!--<h2 class="mt-5 mb-3 black-text">AMEB Grade 5</h2>
<p class="p-0 mx-0 mt-3"><strong>Week 1</strong> <br><i><span style="color:red">Saturday 20 April 3pm-4.30pm</span></i><br>TBC</p>
<p class="p-0 mx-0 mt-3"><strong>Week 2</strong> <br><i>Saturday 27 April 3pm-4.30pm</i><br>TBC</p>
<p class="p-0 mx-0 mt-3"><strong>Week 3</strong> <br><i>Saturday 4 May 3pm-4.30pm</i><br>TBC</p>
<p class="p-0 mx-0 mt-3"><strong>Week 4</strong> <br><i><span style="color:red">Saturday 25 May 3pm-4.30pm</span></i><br>TBC</p>
<p class="p-0 mx-0 mt-3"><strong>Week 5</strong> <br><i>Saturday 1 June 3pm-4.30pm</i><br>TBC</p>
<p class="p-0 mx-0 mt-3"><strong>Week 6</strong> <br><i>Saturday 8 June 3pm-4.30pm</i><br>TBC</p>
<p class="p-0 mx-0 mt-3"><strong>Week 7</strong> <br><i>Saturday 15 June 3pm-4.30pm</i><br>TBC</p>
<p class="p-0 mx-0 mt-3"><strong>Week 8</strong> <br><i>Saturday 22 June 3pm-4.30pm</i><br>TBC</p>
<p class="p-0 mx-0 mt-3"><strong>Week 9</strong> <br><i>Saturday 29 June 3pm-4.30pm</i><br>TBC</p>
<p class="p-0 mx-0 mt-3"><strong>Week 10</strong> <br><i><span style="color:red">Saturday 20 July 3pm-4.30pm</span></i><br>TBC</p>
<p class="p-0 mx-0 mt-3"><strong>Week 11</strong> <br><i>Saturday 27 July 3pm-4.30pm</i><br>TBC</p>
<p class="p-0 mx-0 mt-3"><strong>Week 12</strong> <br><i>Saturday 3 August 3pm-4.30pm</strong></i><br>TBC</p>
<p class="p-0 mx-0 mt-3"><strong>Week 13</strong> <br><i>Saturday 10 August <strong>3pm-6pm</strong></i><br>游닄 Practice Exam</p>
<p class="p-0 mx-0 mt-3"><strong>Week 14</strong> <br><i>Saturday 17 August 3pm-4.30pm</i><br>游대 Revision & Clarification of Concepts</p>
<p class="p-0 mx-0 mt-3"><strong>游닇 Online Final Exam</strong> <br><i>After Saturday 17 August <strong>*flexible time*</strong></i><br>At home or 10am-3pm in-studio</p>-->


<!--<p class="p-0 mx-0 my-2"><strong>Week 15</strong> <br><i>Saturday 24 August 10am-11am</i><br></p>
<p class="p-0 mx-0 my-2"><strong>Week 16</strong> <br><i>Saturday 31 August 10am-11am</i><br></p>
<p class="p-0 mx-0 my-2"><strong>Week 17</strong> <br><i>Saturday 7 September <strong>10am-12pm</strong></i><br></p>
<p class="p-0 mx-0 my-2"><strong>Week 18</strong> <br><i>Saturday 14 September 10am-11:15am</i><br></p>
<p class="p-0 mx-0 my-2"><strong>Week 19</strong> <br><i>Saturday 21 September <strong>10am-12pm</strong></i><br></p>-->



  
</div>

<script>
  
  // rainbow headings
    window.addEventListener("load", function() {
    let elements = document.getElementsByClassName("rainbowText");
    for (let i = 0; i < elements.length; i++) {
      generateRainbowText(elements[i]);
    }
  })
  
  function generateRainbowText(element) {
    let text = element.innerText;
    element.innerHTML = "";
    for (let i = 0; i < text.length; i++) {
      let charElem = document.createElement("span");
      charElem.style.color = "hsl(" + (360 * i / text.length) + ",100%,50%)";
      charElem.style.fontWeight = "bold";
      charElem.style.textShadow = "0px 4px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), -4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 0px -4px 5px hsl(" + (360 * i / text.length) + ",80%,20%)";
      charElem.innerHTML = text[i];
      element.appendChild(charElem);
    }
  }
  </script>
</div>
    <!-- Footer -->
    <footer class="footer text-center small white-text py-3">
        <p class="m-0 raleway">Thanks for visiting! Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href='/' class="white-text raleway">hanfordlam.com</a>. All rights reserved.</p>
    </footer>
  </div> <!-- close out page container div -->
  <!-- BOOTSTRAP 5 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- TOOLTIPS -->
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
    <script src="../../main-bundled.js"></script>
  </body>
</html>