<!doctype html>
<html lang="en" id="home-html">
  <head>
    <!-- HTML Meta Tags -->
<title>Hanford Lam | Piano Studio</title>
<meta name="description" content="Learn piano by yourself at home with online courses!">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://www.hanfordlam.com/shop">
<meta property="og:type" content="website">
<meta property="og:title" content="Hanford Lam | Piano Studio">
<meta property="og:description" content="Learn piano by yourself at home with online courses!">
<meta property="og:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="hanfordlam.com">
<meta property="twitter:url" content="https://www.hanfordlam.com/shop">
<meta name="twitter:title" content="Hanford Lam | Piano Studio">
<meta name="twitter:description" content="Learn piano by yourself at home with online courses!">
<meta name="twitter:image" content="https://www.hanfordlam.com/images/hanford-piano-teacher.webp">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
      
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Handlee&family=Rye&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <title>Hanford Lam | Piano Studio</title>
    <!-- CURSOR -->
    <style>HTML,BODY{cursor: url("../../images/cursor.cur"), auto;}</style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S7KLNXVSDD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-S7KLNXVSDD');
    </script>
  </head>
  <body class="background-transparent w-100">
    <!-- NAVBAR -->
    <nav id="myNav" class="rounded recursive row align-items-center text-center w-auto py-2">
      <div class="col-lg-7">
        <a id="navIcon" class="my-2 d-block" href='/'>Hanford Lam | Piano Studio</a>
      </div>
      <div class="col-lg-5">
        <a id="homeTab" class="mx-4 my-2 d-inline-block navLink" href="/">HOME</a>
        <button class="mx-4 my-2 d-inline-block btn btn-sm btn-info" onclick="location.href='/#contact'">CONTACT</button>
        <a id="reportsTab" class="mx-4 my-2 d-inline-block navLink" href="/reports">PORTAL</a>
      </div>
    </nav>
    <div class="container-fluid background-transparent">

      <!-- DYNAMIC NAVBAR AND TITLE -->
      <script>
        let currentPath = window.location.pathname
        if (currentPath == '/') {
          document.getElementById("homeTab").classList.add("orange-text")
          document.title = "Hanford Lam"
        } else if (currentPath == '/practice' || currentPath == '/missions' || currentPath == '/leaderboard' || currentPath == '/parents' || currentPath == '/reports') {
          document.getElementById("reportsTab").classList.add("orange-text")
          document.title = "Portal - Hanford Lam"
        }
      </script>
    <div id="container" class="container">

<!--removed recaptcha v3 23 nov 2021-->

<!-- WELCOME -->
<div id="biographyContainer" class="">
  
<!--PORTAL TUTORIALS-->
<div id="shop-blurb" class="text-center home-display p-5 m-5">
  <h1 class="black-text mb-5">Unlock Piano Playing Success with Hanford's Rubric and Guide</h1>
  <h2 class="orange-text">For Teachers, Parents, and Students</h2>
  <p>Welcome to a tool that transforms piano performance. This Rubric and Guide is designed to empower teachers, engage parents, and inspire students. Elevate the learning experience with a powerful resource that brings clarity, consistency, and success to every piece in your piano repertoire.</p>
  
  <h2 style="color:blue">Why Choose Hanford's Rubric and Guide?</h2>
<p><strong>Enhance Teaching Effectiveness:</strong> <br>This five-element rubric provides teachers with a clear framework for assessment, making it easier to evaluate and guide student progress.</p>

<p><strong>Foster Parental Involvement:</strong> <br>Keep parents informed about musical expectations and how they can support their child's learning journey. Strengthen the student-teacher-parent connection with this user-friendly guide.</p>

<p><strong>Empower Students: </strong><br>Equip students with the tools they need to excel. The guide not only explains the rubric but also offers valuable tips and strategies for playing-improvement.</p>

<p><strong>Save Time and Effort: </strong><br>Say goodbye to tedious document creation. This ready-to-use PDF rubric and usage guide saves piano educators valuable time, allowing them to focus on what matters most &#8211; teaching.</p>

<h2 class="orange-text">What You'll Get:</h2>
<p><strong>Thoughtfully Crafted Rubric: </strong><br>Simple and clear rubric covering five important playing criteria.</p>

<p><strong>Comprehensive Usage Guide: </strong><br>A step-by-step guide for teachers, parents, and students on how to effectively use and benefit from the rubric.</p>

<h2 style="color:blue">Pricing:</h2>
<p><strong>One-time payment of $25 AUD</strong> for PDF download of Rubric and Guide</p>

<h2 class="orange-text">Testimonials:</h2>
<p>"The rubric and guide has been a game-changer in my practice. Clear expectations and valuable insights for both me and my students."
<i>— Mrs. Johnson, piano teacher</i></p>
<p>"I can now help my child at home with more confidence because of the explanations, tips, and strategies in the guide. My son is able to measure his own progress which motivates him to practice!"
  <i>— Mr. Zhong, parent</i></p>

<h1 class="mb-5">Unlock Success Today!</h1>
<p><strong>Empower your teaching, support parent partnerships, and supercharge students to reach new performance heights.</strong></p>
<p><strong>Invest in your knowledge and practice with Hanford's Rubric and Guide.</strong></p>

      <!-- subscription FORM-->
      <form id="subscription-form" class="text-center d-flex flex-column justify-content-center my-5 mx-5 px-3" action="/create-checkout-session" method="POST">
        <div class="d-block">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="priceId" value="price_1LQjHjKd8lFEm7v382HscQ7D" />
      <button class="m-5 p-3 btn btn-large btn-danger" style="font-size: larger;" type="submit">Buy the Rubric and Guide<br><span style="font-size: x-small;">Takes you to Stripe for secure payment</span></button>
        </div>
          
        </form> 

Have questions? Send a message <a target="_blank" href="https://www.hanfordlam.com/#contact">here</a>.
  

  

  
  
</div>

<script>
  
  // rainbow headings
    window.addEventListener("load", function() {
    let elements = document.getElementsByClassName("rainbowText");
    for (let i = 0; i < elements.length; i++) {
      generateRainbowText(elements[i]);
    }
  })
  
  function generateRainbowText(element) {
    let text = element.innerText;
    element.innerHTML = "";
    for (let i = 0; i < text.length; i++) {
      let charElem = document.createElement("span");
      charElem.style.color = "hsl(" + (360 * i / text.length) + ",100%,50%)";
      charElem.style.fontWeight = "bold";
      charElem.style.textShadow = "0px 4px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), -4px 0px 5px hsl(" + (360 * i / text.length) + ",80%,20%), 0px -4px 5px hsl(" + (360 * i / text.length) + ",80%,20%)";
      charElem.innerHTML = text[i];
      element.appendChild(charElem);
    }
  }
  </script>
</div>
    <!-- Footer -->
    <footer class="footer text-center small white-text py-3">
        <p class="m-0 raleway">Thanks for visiting! Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href='/' class="white-text raleway">hanfordlam.com</a>. All rights reserved.</p>
    </footer>
  </div> <!-- close out page container div -->
  <!-- BOOTSTRAP 5 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- TOOLTIPS -->
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
    <script src="../../main-bundled.js"></script>
  </body>
</html>