<%- include('includes/header') %>
<div class="jumbotron text-center mt-4">
    <h1>Thanks for trying to visit this page.</h1>
    <p class="text-muted">However, Hanford hasn't gotten around to coding this one yet so please be patient!</p>
</div>
<%- include('includes/footer') %>