<!--Flowers FOR Spring
<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
  😎
  </div>
  <div class="snowflake">
  🏄
  </div>
  <div class="snowflake">
  🏊
  </div>
  <div class="snowflake">
  🌻
  </div>
  <div class="snowflake">
  🌴
  </div>
  <div class="snowflake">
  🌞
  </div>
  <div class="snowflake">
  🕶️
  </div>
  <div class="snowflake">
  👕
  </div>
  <div class="snowflake">
  🍹
  </div>
  <div class="snowflake">
  🐚
  </div>
</div>-->

<!--Emojis FOR Winter-->
<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
  🏂
  </div>
  <div class="snowflake">
  🌨️
  </div>
  <div class="snowflake">
  ☃️
  </div>
  <div class="snowflake">
  ❄️
  </div>
  <div class="snowflake">
  ☔
  </div>
  <div class="snowflake">
  ⛸️
  </div>
  <div class="snowflake">
  🧣
  </div>
  <div class="snowflake">
  🥶
  </div>
  <div class="snowflake">
  🧥
  </div>
  <div class="snowflake">
  🏔️
  </div>
</div>