<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <!-- Bootstrap CSS and Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Poppins&family=Recursive&family=Belgrano&family=Bellota&family=Handlee&family=Rye&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>Hanford Lam | Piano Teacher</title>
    <!-- CURSOR -->
    <style>HTML,BODY{cursor: url("https://downloads.totallyfreecursors.com/cursor_files/fishgold.cur"), url("https://downloads.totallyfreecursors.com/thumbnails/fish-gold.gif"), auto;}</style>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav id="myNav" class="rounded recursive row text-center py-2">
      <div class="col-lg-7">
        <a id="navIcon" href='/'>Hanford Lam | Piano Teacher</a>
      </div>
      <div class="col-lg-5">
        <a id="homeTab" class="navLink" href="/">HOME</a>
        <button class="btn btn-small btn-info" onclick="location.href='/#ratesRow'">CONTACT</button>
        <a id="reportsTab" class="navLink" href="/reports">PORTAL</a>
        
      </div>
    </nav>
    <div class="container-fluid">

      <!-- DYNAMIC NAVBAR AND TITLE -->
      <script>
        let currentPath = window.location.pathname
        if (currentPath == '/') {
          document.getElementById("homeTab").classList.add("orange-text")
          document.title = "Hanford Lam"
        } else if (currentPath == '/practice' || currentPath == '/missions' || currentPath == '/leaderboard' || currentPath == '/parents' || currentPath == '/reports') {
          document.getElementById("reportsTab").classList.add("orange-text")
          document.title = "Portal - Hanford Lam"
        }
      </script>
    <div id="container" class="container">