html,
body,
.container-fluid {
    background-color: #1c1c1c;
    min-height: 100vh;
    min-width: 70vw;
    display: flex;
    flex-direction: column;
    padding: auto;
    font-family: 'Poppins', sans-serif;
    position: static;
    margin: 0 auto;
    padding-top: 20px;
}

input {
    caret-color: #ac1010;
}

.container {
    min-width: 70vw;
}

/* NAVIGATION */
nav {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.custom-nav {
    background-color: rgba(18, 46, 68, 0.713);
}

.navbar-toggler {
    background-color: transparent;
}

.nav-link, .navbar-brand {
    color: rgb(182, 182, 182);
}

.nav-link:hover, .navbar-brand:hover {
    color: rgb(177, 77, 216);
}

.nav-active-text {
    color:rgb(199, 103, 255);
}

/* center navbar list */
@media (min-width: 990px) {
    .abs-center-x {
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 600px) {
    .disappear {
        display: none;
    }
    
}

/* FONTS */
.poppins {
    font-family: 'Poppins', sans-serif;
}

.caveat {
    font-family: 'Caveat', cursive;
}

.handlee {
    font-family: 'Handlee', cursive;
}

.langar {
    font-family: 'Langar', cursive;
    font-size: 1.5rem;
}

.bellota {
    font-family: 'Bellota', cursive;
}

.belgrano {
    font-family: 'Belgrano', serif;
}

.recursive,
.alert,
.btn {
    font-family: 'Recursive', sans-serif;
}

.tight-header {
    display: table;
    margin: 0 auto;
    border: 1px solid #e8226a;
    border-radius: 3px;
}

.alert {
    padding-left: 15%;
    padding-right: 15%;
}

/* HOME */

#blurb p {
    font-size: 1.5rem;
}

#meet-hanford h2 {
    font-size: 1.5rem;
}

#studio-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
}

#landscapeHeadshot {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px black;
    border-radius: 50%;
}

#portraitHeadshot {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 10px 10px 20px black;
}

#backstage {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 10px 10px 20px black;
}

.full-width-home-container-transparent {
    min-height: 500px;
    min-width: 100%;
    background-color: transparent;
}

#accordion .btn {
    text-decoration: none;
    font-size: 2rem;
    color: #5ea52b;
}

#accordion .btn-link:hover {
    text-decoration: underline;
}

.card-header,
.card-body {
    display: block;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(58, 58, 58);
}

.card-body li {
    font-family: 'Handlee', cursive;
}

#accordion .card-body li a {
    font-family: 'Belgrano', serif;
    font-size: 1.2rem;
    color: #ff810c;
}

.card {
    margin-bottom: 5px;
    min-height: 100%;
    border: 1px solid rgb(49, 49, 49);
}

/* MEDIA */
.media-div {
    height: auto;
    min-width: 100%;
    background-color: transparent;
}

.jumbotron {
    background-color: rgb(37, 2, 61);
    border: 1px solid white;
    box-shadow: 0px 0px 100px 30px rgba(0, 0, 0, 0.713);
}

.jumbotron-transparent {
    background-color: #1c0024;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 10px rgb(80, 60, 133);
}

.jumbotron-transparent-greeting {
    background-color: transparent;
    border: none;
    border-radius: 10px;
}

.jumbotron p {
    color: white;
}

h1 {
    color: #efcb00;
    font-weight: 500;
}

h2 {
    color: white;
}

.modal-body pre {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.footer {
    margin-top: auto;
}

.row-border {
    border: 1px solid white;
}

.col-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.col-sm p {
    margin: 0;
}

.milestone-text {
    color: #66128c;
}

.nomilestone-text {
    color: #969696;
}

.grey-text {
    color:#969696;
}

.pink-text {
    color: #e8226a;
}

.green-text {
    color: #8cff2f;
}

.red-text {
    color: #fa0000;
}

.palegreen-text {
    color: #9aff47;
}

.purple-text {
    color: #9c5eff;
}

.orange-text {
    color: #ff810c;
}

.blue-text {
    color: #45cdff;
}

.white-text {
    color: white;
}

.yellow-text {
    color: #f0ad4e;
}

.rhythm {
    background-color: rgba(255, 182, 198, 0.9);
}

.coordination {
    background-color: rgba(143, 194, 228, 0.9);
}

.tone {
    background-color: rgba(255, 232, 173, 0.9);
}

.dynamics {
    background-color: rgba(144, 218, 218, 0.9);
}

.stylistic {
    background-color: rgba(200, 173, 253, 0.9);
}

.bonus {
    background-color: rgb(226, 226, 226);
}

.eagle {
    background-color: #b6dcff;
}

.rubric-icon {
    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.practiceSuccessIcon {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.octopus {
    background-color: #ffd5bd;
}

.koala {
    background-color: #d8ffc5;
}

.jellyfish {
    background-color: #ffeeba;
}

.bear {
    background-color: #ffd7d7;
}

.bear-simplified {
    background-color: #cacaca;
}

/* ASSESSMENT GRID */

.rubric-grid {
    background-color: rgb(226, 226, 226);
    border: 1px solid white;
    padding: 0;
}

.rubric-grid {
    margin: 0;
}

.rubric-grid div div {
    border: 1px solid white;
}

.rubric-grid input[type="radio"] {
    display: none;
}

.rubric-grid label {
    display: inline-block;
    cursor: pointer;
}

.rubric-grid input[type="radio"]:checked+label {
    font-weight: bold;
}

.answer-options input[type="radio"]:checked {
    font-weight: bold;
}

.row .col-sm {
    display: block;
}

hr {
    background-color: transparent;
    border-top: 1px solid white;
}

.question-div {
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 1px solid white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    text-align: center;
}

.task-div-complete {
    display: inline-block;
    position: relative;
    background-color: rgba(178, 255, 174, 0.9);
    padding: 1.5rem;
    min-height: 11rem;
    min-width: 11rem;
    text-align: center;
    vertical-align: middle;
    margin: 0.8rem 0.8rem;
    color: rgb(17, 102, 0);
}

#missionsWrapper{
    text-align: center;
}

.missionContent {
    margin: 0;
    position: absolute;               /* 2 */
    top: 50%;                         /* 3 */
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.missionContent h3 {
    font-size: 1.2rem;
}

.task-div-incomplete {
    display: inline-block;
    position: relative;
    background-color: rgba(255, 204, 204, 0.9);
    padding: 1.5rem;
    min-height: 11rem;
    min-width: 11rem;
    text-align: center;
    vertical-align: middle;
    margin: 0.8rem;
    color: rgb(141, 0, 2);
}

.correct-text {
    color: rgb(24, 141, 0)
}

.leaderboard-badge {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.section::before {
    display: block;
    content: " ";
    margin-top: -80px;
    height: 80px;
    visibility: hidden;
    pointer-events: none;
}

#weeklySnapshot p, ul, li{
    font-family: 'Bellota', cursive;
    font-size: 1.5rem;
    color: rgb(208, 208, 208);
}

#weeklySnapshot {
    max-width: 1000px;
    margin: auto;
}

#weeklySnapshot em {
    color: rgb(42, 152, 255);
    font-family: 'Recursive', sans-serif;
}

#weeklySnapshot strong {
    color: rgb(71, 208, 105);
}

#weeklySnapshot h1 {
    font-family: 'Belgrano', serif;
    font-size: 3rem;
    color: #4eb348;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 10px rgb(0, 130, 22);
}

/* REPORTS */
#pikachuMusic {
    width: 15rem;
}

#pikachuDiv {
    text-align: center;
}

#registerForm h2 {
    font-family: 'Handlee', cursive;
}

#registration-form .form-control-lg {
    width: 30rem;
    margin: 0 auto;
    display: block;
    font-family: 'Handlee', cursive;
}

/* WALLET */
.wallet-div {
    text-align: center;
    border-radius: 5px;
    border: 1px #505050 solid;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-left: 0;
    padding: 0.1rem 0.8rem;
    position: fixed;
    z-index: 9999;
    background-color: rgba(84, 84, 84, 0.5);
    cursor: move;
}

#logoutButton {
    display: flex;
    flex-direction: column;
}

/* TICKER */
.bkground {
    background: none;
}

.news {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    -webkit-user-select: none;
}

.news span {
    float: left;
    color: rgb(0, 141, 192);
    position: relative;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    cursor: pointer;
}

.text1{
    width: 100%;
}