html,
body,
.container-fluid {
    background-color: #1c1c1c;
    min-height: 98vh;
    width:100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    position: static;
    margin: 0 auto;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: transparent;
}

h1 {
    color: #efcb00;
    font-weight: 500;
}

h2 {
    color: white;
}

.alert {
    padding-left: 15%;
    padding-right: 15%;
}

input {
    caret-color: #ac1010;
}

.container {
    min-width: 70vw;
}

/* NAVIGATION */
#myNav a {
    text-decoration: none;
}

#myNav a:hover, #myNav a:focus, #myNav a:active {
    color: rgb(177, 77, 216);
    text-decoration: none;
}

#myNav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    font-size: 1.3rem;
    background-color: rgba(18, 46, 68, 0.713);
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    z-index: 300;
    width: 100%;
}

#navIcon, .navLink {
    color: rgb(182, 182, 182);
}

/* 2048 */
#game2048 {
    margin: 0 auto;
    height: 980px;
    width: 100%;
}

/* pacman */
#gamepacman {
    margin: 0 auto;
    height: 600px;
    width: 100%;
}

/* FONTS */
.allison {
    font-family: 'Allison', cursive;
}

.imfell {
    font-family: 'IM Fell English', serif;
}

.zcool {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 1.5rem;
}

.ps2p {
    font-family: 'Press Start 2P', cursive;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.caveat {
    font-family: 'Caveat', cursive;
}

.handlee {
    font-family: 'Handlee', cursive;
}

.bellota {
    font-family: 'Bellota', cursive;
}

.belgrano {
    font-family: 'Belgrano', serif;
}

.recursive,
.alert,
.btn {
    font-family: 'Recursive', sans-serif;
}

/* HOME */
#home-html {
    background-image: url("../images/piano-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

.home-display {
    background-color: rgba(18, 46, 68, 0.713);
    padding: 5px 10px;
    border-radius: 15px;
}

.background-transparent {
    background-color: transparent;
}

#biographyContainer p, #ratesRow li {
    line-height: 1.8;
    font-size: 1.2rem;
    text-align: center;
}

.bioTitle {
    border-bottom: solid 2px white;
    display: table;
    margin-top: 30px;
    margin: auto;
    text-align: center;
}

#photo1, #photo2, #hanford-lam-studio-min, #youtubeShowcase {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px #ffffff;
    border: 1px solid black;
}

#bioRow, #featureVideoRow, #experienceRow, #pedagogyRow, #ratesRow, #mapRow {
    margin-bottom: 150px;
    margin-top: 100px;
    height: 100%;
}

/*IN PARENTS PAGE*/
.modal-body pre {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.footer {
    margin-top: auto;
}

.row-border {
    border: 1px solid white;
}

.col-sm {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.col-sm p {
    margin: 0;
}

.black-text {
 color: #000000;
} 

.grey-text {
    color:#969696;
}

.pink-text {
    color: #e8226a;
}

.green-text {
    color: #8cff2f;
}

.dark-green-text {
    color: #6abf25;
}

.red-text {
    color: #fa0000;
}

.palegreen-text {
    color: #9aff47;
}

.purple-text {
    color: #9c5eff;
}

.orange-text {
    color: #ff810c;
}

.dark-orange-text {
    color: #bd5b00;
}

.blue-text {
    color: #45cdff;
}

.white-text {
    color: white;
}

.yellow-text {
    color: #f0ad4e;
}

.rhythm {
    background-color: rgba(255, 182, 198, 0.9);
}

.coordination {
    background-color: rgba(143, 194, 228, 0.9);
}

.tone {
    background-color: rgba(255, 232, 173, 0.9);
}

.dynamics {
    background-color: rgba(144, 218, 218, 0.9);
}

.stylistic {
    background-color: rgba(200, 173, 253, 0.9);
}

.rubric-icon {
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 auto;
}


.practiceSuccessIcon {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.eagle {
    background-color: #d8ffc5;
}

.octopus {
    background-color: #b6dcff;
}

.koala {
    background-color: #ffd5bd;
}

.jellyfish {
    background-color: #ffeeba;
}

.bear {
    background-color: #cacaca;
}

.eagleSelected {
    background-color: #a1f179;
}

.octopusSelected {
    background-color: #79baf7;
}

.koalaSelected {
    background-color: #f0a579;
}

.jellyfishSelected {
    background-color: #f1d580;
}

.bearSelected {
    background-color: #969696;
}


/* ASSESSMENT GRID */

.rubric-grid {
    background-color: rgb(226, 226, 226);
    border: 1px solid white;
    padding: 0;
    margin: 0;
}

.rubric-grid div div {
    border: 1px solid white;
}

.iconContainer {
    min-height: 9rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.interactiveIcon {
    height: 2.5rem;
    width: 2.5rem;
}

.rubric-grid input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.rubric-grid input[type="radio"] + label img {
    cursor: pointer;
    transition: width 0.2s, height 0.2s;
}

.rubric-grid input[type="radio"]:checked + label img {
    width: 5rem;
    height: 5rem;
}  

hr {
    background-color: transparent;
    border-top: 1px solid white;
}

/* MISSIONS PAGE */
#missions-html {
    background-image: url("../images/mars.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

.task-div-complete {
    display: inline-block;
    position: relative;
    background-color: rgba(178, 255, 174, 0.9);
    padding: 1.5rem;
    min-height: 11rem;
    min-width: 11rem;
    text-align: center;
    vertical-align: middle;
    margin: 0.8rem 0.8rem;
    color: rgb(17, 102, 0);
}

#missionsWrapper{
    text-align: center;
}

.missionContent {
    margin: 0;
    position: absolute;               /* 2 */
    top: 50%;                         /* 3 */
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.missionContent h3 {
    font-size: 1.2rem;
}

.task-div-incomplete {
    display: inline-block;
    position: relative;
    background-color: rgba(255, 204, 204, 0.9);
    padding: 1.5rem;
    min-height: 11rem;
    min-width: 11rem;
    text-align: center;
    vertical-align: middle;
    margin: 0.8rem;
    color: rgb(141, 0, 2);
}

.section::before {
    display: block;
    content: " ";
    margin-top: -80px;
    height: 80px;
    visibility: hidden;
    pointer-events: none;
}

/*PRACTICE PAGE*/
#practice-html {
    background-image: url("../images/volcano.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

#weeklySnapshot {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(144, 218, 218, 0.796);
}

.blue-box {
    margin: 0 auto;
    background-color: rgba(144, 218, 218, 0.796);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    padding: 4px 5px;
}

#weeklySnapshot h1 {
    font-family: 'Belgrano', serif;
    font-size: 3rem;
    color: #ff3a5e;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

#weeklySnapshot ol li::marker {
    font-weight: bold;
}

.topShadow {
    box-shadow: inset 0px 25px 19px -18px #000000;
    background-color: transparent;
    
}

/*BE ON TOP OF SNOWFLAKES*/
.aboveFalling {
    z-index: 100;
    position: relative;
}

.transparentBG {
    background-color: transparent;
}   

/* downward arrow animated */
.arrowcontainer {margin: 0 auto; margin-top: 6rem; margin-bottom: 8rem; width:90px;height:90px;}
.circle {background: #267fbb; border-radius: 100%; text-align: center; padding: 15px 0 0 0; line-height: 50px; color: rgb(255, 247, 0);}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* customizable snowflake styling */
.snowflakes {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}
  
@-webkit-keyframes snowflakes-fall {
    0%{
        top:-10%
    }
    100%{
        top:100%
    }
}
@-webkit-keyframes snowflakes-shake{
    0%{
        -webkit-transform:translateX(0px);transform:translateX(0px)
    }
    50%{
        -webkit-transform:translateX(80px);transform:translateX(80px)
    }
    100%{
        -webkit-transform:translateX(0px);transform:translateX(0px)
    }
}
@keyframes snowflakes-fall{
    0%{
        top:-10%
    }100%{
        top:100%
    }
}
@keyframes snowflakes-shake{
    0%{
        transform:translateX(0px)
    }
    50%{
        transform:translateX(80px)
    }
    100%{
        transform:translateX(0px)
    }
}
.snowflake{
    position:fixed;
    z-index: 1;
    top:-10%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:16s,5s;
    -webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:16s,6s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running
}
.snowflake:nth-of-type(0){
    left:1%;
    -webkit-animation-delay:0s,0s;
    animation-delay:0s,0s
}
.snowflake:nth-of-type(1){
    left:10%;
    -webkit-animation-delay:12s,3.5s;
    animation-delay:12s,2s
}
.snowflake:nth-of-type(2){
    left:20%;
    -webkit-animation-delay:6s,.5s;
    animation-delay:6s,.5s
}
.snowflake:nth-of-type(3){
    left:30%;
    -webkit-animation-delay:4s,2s;
    animation-delay:4s,2s
}
.snowflake:nth-of-type(4){
    left:40%;
    -webkit-animation-delay:2s,4s;
    animation-delay:2s,2s
}
.snowflake:nth-of-type(5){
    left:50%;
    -webkit-animation-delay:8s,4s;
    animation-delay:8s,3s
}
.snowflake:nth-of-type(6){
    left:60%;
    -webkit-animation-delay:6s,0s;
    animation-delay:6s,2s
}
.snowflake:nth-of-type(7){
    left:70%;
    -webkit-animation-delay:10s,2s;
    animation-delay:10s,2s
}
.snowflake:nth-of-type(8){
    left:80%;
    -webkit-animation-delay:14s,1.5s;
    animation-delay:14s,0s
}
.snowflake:nth-of-type(9){
    left:90%;
    -webkit-animation-delay:9s,1.5s;
    animation-delay:9s,1.5s
}

/* REPORTS */
#reports-guest-html {
    background-image: url("../images/scene.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

#pikachuMusic {
    width: 15rem;
}

#pikachuDiv {
    text-align: center;
}

#registerForm h2 {
    font-family: 'Handlee', cursive;
}

#registration-form .form-control-lg {
    width: 30rem;
    margin: 0 auto;
    display: block;
    font-family: 'Handlee', cursive;
}

#registration-form input {
    background-color: #00000054;
    border: none;
    color:#ac1010;
}

#loginForm input, input:focus {
    background-color: #1e003d77;
    border: none;
    color:#5cc035;
}

#loginForm ::placeholder {
    color:rgba(255, 141, 165, 0.9);
}

/* WALLET */
.wallet-div {
    text-align: center;
    border-radius: 5px;
    border: 1px #505050 solid;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-left: 0;
    padding: 0.1rem 0.8rem;
    position: fixed;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.85);
    cursor: move;
}

#logoutButton {
    display: flex;
    flex-direction: column;
}

/* TICKER */
.marquee {
    width: 100%;
	line-height: 50px;
	background-color: #ffde2467;
	color: rgb(0, 0, 0);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee div {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
}
.marquee div span {
    padding-left: 20px
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

/*QUIZ*/
.responsive-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
	overflow: hidden;
}

.responsive-container iframe,
.responsive-container object,
.responsive-container embed,
.responsive-container video
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#quizContainer70 {
    max-width: 850px;
    margin: 0 auto;
}

#quizContainer70 textarea, #quizContainer70 input {
    background-color: #1f003d;
    caret-color: #5cc035;
    color: #b6dcff;
    border: 1px solid white;
    border-radius: 5px;
}

.quizQuestionContainer {
    background-color: transparent;
    border-radius: 25px;
    border: 1px dashed rgb(255, 225, 0);
    padding: 0px 25px 0px 25px;
    margin-top: 25px;
}

.quizQuestionContainer2 {
    background-color: transparent;
    border-radius: 25px;
    border: 1px dashed rgb(255, 0, 0);
    padding: 0px 25px 0px 25px;
    margin-top: 25px;
}

/* PERFORMANCES */
#performancesContainer {
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
}

#performancesContainer .performanceContainer textarea {
    width: 100%;
    background-color: #1f003d;
    caret-color: #5cc035;
    color: #b6dcff;
    border: 1px solid white;
    border-radius: 5px;
}

#performancesContainer .performanceContainer {
    width: 100%;
    border-radius: 25px;
    border: 1px dashed rgb(255, 255, 0);
    padding: 0px 25px 0px 25px;
    margin-top: 25px;
}

/* LEADERBOARD PAGE */
#leaderboard-html {
    background-image: url("../images/buildings.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

#leaderboard-table {
    background-color: rgba(201, 201, 201, 0.666);
}